@page{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.layout-board.print-area {
	background-color: #F6F9FC;
	width: 596px;
	margin: 0 auto;

	.print-no-display {
		display: none;
	}

	.layout-board-header {
		color: white;
		padding: 25px;
		position: relative;

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $grey;
		}

		.layout-board-header-inner {
			position: relative;
			// max-width: 950px;
			margin: 0 auto;

			@media only screen and(max-width: 600px) {
				padding: 15px;
			} 

			@media only screen and(max-width: 960px) {
				padding: 15px;
			} 

			.offer-id {
				font: {
					size: 1em;
					weight: 600;
				}
				opacity: .7;
			}

			h1 {
				font: {
					weight: 100;
					size: 2.5em;
				}
				margin: 0;
			}

			.avatar {
				width: 72px;
				height: 72px;
				display: inline-table;
				border-radius: 100%;
				margin-right: 20px;
			}

			ul {
				margin: 0;
			}

			p {
				margin: 5px 0 0 0;
				opacity: .7;
				font: {
					weight: 600;
					size: .9em;
				}
			}

			.stats {
				color: white;
				font: {
					size: .9em;
					weight: 600;
				}
				margin: 30px 20px 5px 0;

				span {
					color: white;
					font: {
						weight: 600;
					}
					height: 25px;
					min-width: 25px;
					text-align: center;
					line-height: 25px;
					border-radius: 40px;
					display: inline-block;
					background-color: white;
					color: $pink;
					padding: 0 5px;
					margin-right: 5px;
				}
			}
		}
	}

	.layout-board-main {
		position: relative;

		&.next {
			.layout-board-main-inner {
				margin: 0 auto;
			}
		}

		.layout-board-main-inner {
			background: white;
			// max-width: 950px;
			padding: 15px;

			&.fullwidth {
				max-width: 100%;
				margin: 0;
				box-shadow: none;
				background-color: transparent;
			}

			.layout-board-section {
				.layout-board-section-title {
					color: $pink;
					font: {
						size: .9em;
						weight: 600;
					}
					text-transform: uppercase;
					margin: 0;

				}
			}

			.layout-board-card-container {
				p {
					color: rgba(0,0,0,0.5)!important;
				}
			}

			.layout-board-main-grid {
				column-count: 3;
				column-gap: 5px;
				column-fill: auto;

				.layout-board-main-grid-cell {
					padding: 10px;
					column-break-inside: avoid;
					-webkit-column-break-inside: avoid;
					page-break-inside: avoid;
					-moz-column-break-inside: avoid;
				}
			}

			.layout-board-list {
				.layout-board-list-item {
					background-color: white;
					box-shadow: 0px 6.29px 11.85px rgba(0, 0, 0, 0.1);
					border-radius: 4px;
					outline: 0;
					color: #8D8D8D;
					border-left: 8px solid white;
					transition: all .3s ease;
					margin-bottom: 10px;
					font: {
						weight: 600;
						size: .9em;
					}
					cursor: pointer;

					&:hover {
						box-shadow: 0px 6.29px 11.85px rgba(0, 0, 0, 0.15);
						border-left: 8px solid $pink;
					}

					.md-button.md-no-style {
						padding: 10px;
					}

					.candidate-avatar {
						width: 48px;
						height: 48px;
						margin-right: 20px;
						flex: none;

						&:hover {
							transform: translate3d(0,0,0);
						}
					}

					p {
						font: {
							weight: 600;
						}

						&.title {
							color: rgba(0,0,0,0.87);
							font: {
								size: 1.1em;
							}
						}
					}
				}
			}

			.layout-board-main-cell {

				h3 {
					font: {
						weight: 600;
					}
					padding: 0 15px 0 15px;

					&.layout-board-title {
						font: {
							size: 1em;
						}
						padding: 0;
					}
				}

				ul {
					margin: 0;
				}

				p {
					margin: 0;
					color: #8D8D8D;
					font: {
						size: .95em;
						weight: 600;
					}
				}

				button {
					font: {
						weight: 600;
					}
				}

				.layout-board-description {
					color: #8D8D8D;

					h1, h2, h3, h4, h5, h6 {
						font: {
							size: 1em;
						}
						margin: 0;
						padding: 0;
					}
				}
			}

			.layout-board-card-container {
				display: flex;
				flex-wrap: nowrap;
				overflow: auto;
				-webkit-overflow-scrolling: touch;
				-ms-overflow-style: -ms-autohiding-scrollbar;
				padding: 15px;

				&.no-padding {
					padding: 15px 0;
				}

				.layout-board-card-container-scrollable {
					display: flex;
					flex-wrap: nowrap;

					.layout-board-card {
						flex: 0 0 auto;
						margin-right: 8px;
					}
				}
			}

			.candidate-avatar {
				height: 80px;
				width: 80px;
				display: block;
				background: $black;
				border-radius: 100%;
				box-shadow: 0px 6.29px 11.85px rgba(0, 0, 0, 0.1);
				margin-right: 35px;
				transition: all .3s ease;
				cursor: pointer;
				transform: translate3d(0,0,0);
				position: relative;
				outline: 0;

				.candidate-avatar-overlay {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					transition: all .3s ease;
					background: linear-gradient(45deg, rgba(252,60,163,.9) 0%, rgba(253,59,107,.9) 100%);
					opacity: 0;
					border-radius: 100%;
					display: flex;
					justify-content: center;
					align-items: center;

					.material-icons {
						color: white;
					}
				}

				.candidate-avatar-selected {
					position: absolute;
					top: 0;
					left: 0;
					border-radius: 100%;
					background-color: $pink;
					height: 28px;
			 			width: 28px;

					&:after {
					    box-sizing: border-box;
					    transform: rotate(45deg);
					    position: absolute;
					    left: 10px;
						top: 5px;
					    display: table;
				        width: 8px;
						height: 15px;
					    border-width: 3px;
					    border-style: solid;
					    border-top: 0;
					    border-left: 0;
					    content: '';
					    border-color: white;
					}
				}

				.notification-circle {
					height: 18px;
					width: 18px;
					background-color: $pink;
					border-radius: 100%;
					top: 0;
					left: 0;
				}

				&:hover {
					box-shadow: 0px 6.29px 11.85px rgba(0, 0, 0, 0.15);
					transform: translate3d(0,-5px,0);

					.candidate-avatar-overlay {
						opacity: 1;
					}
				}
			}

			.layout-board-card {
				padding: 25px;
				box-shadow: 0px 6.29px 11.85px rgba(0, 0, 0, 0.1);
				transition: all .3s ease;
				cursor: pointer;
				border-radius: 4px;
				transform: translate3d(0,0,0);
				border-left: 8px solid white;
				background-color: white;
				outline: 0;

				&:hover {
					box-shadow: 0px 6.29px 11.85px rgba(0, 0, 0, 0.15);
					transform: translate3d(0,-5px,0);
					border-left: 8px solid $pink;
				}

				.layout-board-card-header {
					.layout-board-card-badge {
						padding: 5px 15px;
						color: white;
						border-radius: 3px;
						font: {
							size: .8em;
							weight: bold;
						}
						margin-right: 10px;
						text-transform: uppercase;

						&.green {
							background-color: $green;
						}

						&.pink {
							background-color: $pink;
						}

						&.grey {
							background-color: $extra-light-grey;
						}
					}
				}

				.layout-board-card-body {
					h3 {
						margin: 20px 0 0 0;
						padding: 0;
						font: {
							weight: 400;
						}
						white-space: nowrap;
	  					text-overflow: ellipsis;
						overflow: hidden;
						max-width: 200px;
					}

					span {
						opacity: .4;
						margin: 5px 0 20px 0;
						font: {
							size: .9em;
						}
					}

					p {
						margin: 0;
					}

					.layout-board-card-date {
						color: $pink;
						margin-top: 20px;
						font: {
							weight: 600;
						}
					}
				}
			}
		}
	}
}