<div flex class="layout-board print-area" ng-if="$ctrl.quotation.$resolved">
	<div class="layout-board-header">
        <div class="overlay"></div>
        <div class="layout-board-header-inner">
            <div class="layout-board-header-title" layout="row" layout-align="start center">
                <div layout="column">
                    <p>Envoyé le {{$ctrl.quotation.timestamp * 1000 | date: 'dd/MM/yyyy à HH:mm:ss'}}</p>
                    <h1>{{$ctrl.quotation.agency.name}}</h1>
                    <p>{{$ctrl.quotation.agency.contactName}}</p>
                    <p>{{$ctrl.quotation.agency.mail}}</p>
                    <p>{{$ctrl.quotation.agency.phone}}</p>
                </div>
            </div>
            <div layout="row" layout-align="start center">
                <div class="stats">
                    <span>{{$ctrl.quotation.personNumber}}</span> personne(s) recherchée(s)
                </div>
                <div class="stats">
                    <span>{{$ctrl.quotation.chiefHostessNumber}}</span> chef(s) hôte(sse) recherché(s)
                </div>
            </div>
        </div>
    </div>
    <div class="layout-board-main">
        <div class="layout-board-main-inner">
            <div layout="row" layout-wrap layout-padding class="layout-board-section">
                <div flex="50" flex-xs="100" class="layout-board-main-cell">
                    <h3 class="layout-board-title">Adresse</h3>
                    <p>{{$ctrl.quotation.address}}</p>
                </div>
                <div flex="50" flex-xs="100" class="layout-board-main-cell">
                    <h3 class="layout-board-title">Ville</h3>
                    <p>{{$ctrl.quotation.city}}</p>
                </div>
                <div flex="50" flex-xs="100" class="layout-board-main-cell">
                    <h3 class="layout-board-title">Date</h3>
                    <p ng-if="$ctrl.quotation.dates.type !== 'uniq'">{{$ctrl.quotation.dates.startDate | date: 'dd/MM/yyyy'}} au {{$ctrl.quotation.dates.endDate | date: 'dd/MM/yyyy'}}</p>
                    <p ng-if="$ctrl.quotation.dates.type === 'uniq'">{{$ctrl.quotation.dates.startDate | date: 'dd/MM/yyyy'}}</p>
                </div>
                <div flex="50" flex-xs="100" class="layout-board-main-cell">
                    <h3 class="layout-board-title">Plage horaire</h3>
                    <div layout="column" layout-wrap>
                        <ul>
                            <li ng-repeat="time in $ctrl.quotation.schedules.timeSlots[0].slots">
                                <p>{{time.start}} - {{time.end}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div flex="50" flex-xs="100" class="layout-board-main-cell">
                    <h3 class="layout-board-title">Nombre d'heures travaillées</h3>
                    <p>{{$ctrl.quotation.workTime}} heure(s)</p>
                </div>
                <div flex="50" flex-xs="100" class="layout-board-main-cell">
                    <h3 class="layout-board-title">Nombre de personnes recherché</h3>
                    <p>{{$ctrl.quotation.personNumber}} personne(s)</p>
                </div>
                <div flex="50" flex-xs="100" class="layout-board-main-cell">
                    <h3 class="layout-board-title">Nombre de chef hôte(sse) recherché</h3>
                    <p>{{$ctrl.quotation.chiefHostessNumber}} personne(s)</p>
                </div>
                <div flex="50" flex-xs="100" class="layout-board-main-cell">
                    <h3 class="layout-board-title">Repas</h3>
                    <p ng-if="$ctrl.quotation.food">Indemnités repas</p>
                    <p ng-if="!$ctrl.quotation.food">Pas d'indemnités repas</p>
                </div>
                <!-- <div flex="50" flex-xs="100" class="layout-board-main-cell">
                    <h3 class="layout-board-title">Tenue</h3>
                    <p ng-if="$ctrl.quotation.outfit">Tenue fournie par l'employeur</p>
                    <p ng-if="!$ctrl.quotation.outfit">Tenue non fournie par l'employeur</p>
                </div> -->
                <div flex="50" flex-xs="100" class="layout-board-main-cell">
                    <h3 class="layout-board-title">Département</h3>
                    <p>{{$ctrl.quotation.department.join(', ')}}</p>
                </div>
                <div flex="100" class="layout-board-main-cell">
                    <h3 class="layout-board-title">Description</h3>
                    <div class="layout-board-description" ng-bind-html="$ctrl.quotation.description"></div>
                </div>
            </div>
        </div>
    </div>
</div>
