<div layout="column" class="list" layout-margin>
	<md-whiteframe class="md-whiteframe-1dp candidate-card" layout="row" layout-padding layout-align="start center">
		<div flex="100">
      <h3>Ajouter une marque</h3>
      <md-input-container class="md-block" flex-gt-sm="50" flex-xs="100" md-no-float>
  			<input type="text" ng-model="$ctrl.newMarque.name" placeholder="Nom de la marque" ng-keypress="$ctrl.addMarque($event, $ctrl.newMarque)">
  		  <md-icon class="material-icons pointer save" md-font-set="material-icons" title="valider" ng-show="$ctrl.newMarque.name.length > 0"  ng-click="$ctrl.parent.addMarque($ctrl.newMarque)">add</md-icon>
  		</md-input-container>
		</div>
	</md-whiteframe>
	<md-whiteframe class="md-whiteframe-1dp candidate-card" layout="row" layout-padding ng-show="$ctrl.parent.marquesReference.$resolved" layout-align="start center" ng-repeat="marque in $ctrl.parent.marquesReference | orderBy: 'name' | limitTo: $ctrl.limit as result track by $index">
		<div flex="80" layout-align="center center" ng-click="$ctrl.showToUpdate(marque)">
      <md-input-container class="md-block" flex-xs="100" md-no-float ng-if="$ctrl.currentUpdateId.onUpdate && $ctrl.currentUpdateId.id == marque.$id">
  			<input type="text" ng-model="marque.name" ng-keypress="$ctrl.valideUpdateMarque($event, marque, $ctrl.currentUpdateId)" aria-label="marque name">
  		</md-input-container>
			<h3 ng-if="!$ctrl.currentUpdateId.onUpdate || $ctrl.currentUpdateId.id != marque.$id">{{marque.name}}</h3>
		</div>
		<div flex="5" layout="column" layout-align="center end" ng-if="$ctrl.currentUpdateId.onUpdate && $ctrl.currentUpdateId.id == marque.$id">
			<md-button ng-click="$ctrl.valideUpdateMarqueBtn(marque, $ctrl.currentUpdateId)" aria-label="edit marque">
					<md-icon class="material-icons pointer delete" md-font-set="material-icons" title="Modifier">save</md-icon>
			</md-button>
		</div>
		<div flex="5" layout="column" layout-align=" end" ng-if="$ctrl.currentUpdateId.onUpdate && $ctrl.currentUpdateId.id == marque.$id">
			<md-button ng-click="$ctrl.parent.askDeleteMarque(marque.$id)" aria-label="delete marque">
					<md-icon class="material-icons pointer delete" md-font-set="material-icons" title="Supprimer">delete</md-icon>
			</md-button>
		</div>
	</md-whiteframe>

	<div layout="column" flex="100" class="more-info">
		<div layout="row" layout-align="center center" ng-if="marque.loadMore">
			<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="30"></md-progress-circular >
		</div>
		<div layout="row" layout-align="center center" ng-if="!$ctrl.loadMore && !$ctrl.end && result.length >= $ctrl.limit">
			<md-button ng-click="$ctrl.getMore()" class="md-raised">Plus de marques</md-button>
		</div>
	</div>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="$ctrl.marques.length <= 0 && $ctrl.parent.marquesReference.$resolved">
		<p>Vous n’avez pas encore de marques</p>
	</div>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="result.length === 0 && $ctrl.parent.marquesReference.$resolved && $ctrl.marques.length > 0">
		<p>Aucun résultat trouvé</p>
	</div>
	<div flex="100" layout="row" layout-align="center center" class="empty-result" ng-if="!$ctrl.parent.marquesReference.$resolved">
		<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="30"></md-progress-circular>
	</div>
</div>
