<!-- <div layout="column" class="search-bar">
	<md-whiteframe class="md-whiteframe-1dp" layout="row" layout-align="start center">
		<md-input-container class="md-block" flex-gt-sm="50" flex-xs="100" md-no-float>
			<md-icon class="material-icons pointer" md-font-set="material-icons">search</md-icon>
		    <input ng-model="searchProfession" ng-model-options="{debounce: 500}" type="text" placeholder="Filtrer les professions">
		    <md-icon class="material-icons pointer cancel-search" md-font-set="material-icons" ng-show="searchCandidate"  ng-click="searchProfession.$rollbackViewValue(); searchProfession = ''">cancel</md-icon>
		</md-input-container>
		<span flex></span>
	</md-whiteframe>
</div> -->
<div layout="column" class="list" layout-margin>
	<md-whiteframe class="md-whiteframe-1dp candidate-card" layout="row" layout-padding layout-align="start center">
		<div flex="100">
      <h3>Ajouter une profession</h3>
      <md-input-container class="md-block" flex-gt-sm="50" flex-xs="100" md-no-float>
  			<input type="text" ng-model="$ctrl.newProfession.name" placeholder="Nom de la profession" ng-keypress="$ctrl.addProfession($event, $ctrl.newProfession)">
  		  <md-icon class="material-icons pointer save" md-font-set="material-icons" title="valider" ng-show="$ctrl.newProfession.name.length > 0"  ng-click="$ctrl.parent.addProfession($ctrl.newProfession)">add</md-icon>
  		</md-input-container>
		</div>
	</md-whiteframe>
	<md-whiteframe class="md-whiteframe-1dp candidate-card" layout="row" layout-padding ng-show="$ctrl.parent.professionsReference.$resolved" layout-align="start center" ng-repeat="profession in $ctrl.parent.professionsReference | orderBy: 'name' | limitTo: $ctrl.limit as result track by $index">
		<div flex="80" layout-align="center center" ng-click="$ctrl.showToUpdate(profession)">
      <md-input-container class="md-block" flex-xs="100" md-no-float ng-if="$ctrl.currentUpdateId.onUpdate && $ctrl.currentUpdateId.id == profession.$id">
  			<input type="text" ng-model="profession.name" ng-keypress="$ctrl.valideUpdateProfession($event, profession, $ctrl.currentUpdateId)" aria-label="profession name">
  		</md-input-container>
			<h3 ng-if="!$ctrl.currentUpdateId.onUpdate || $ctrl.currentUpdateId.id != profession.$id">{{profession.name}}</h3>
		</div>
		<div flex="5" layout="column" layout-align="center end" ng-if="$ctrl.currentUpdateId.onUpdate && $ctrl.currentUpdateId.id == profession.$id">
      <md-button ng-click="$ctrl.valideUpdateProfessionBtn(profession, $ctrl.currentUpdateId)" aria-label="edit profession">
          <md-icon class="material-icons pointer delete" md-font-set="material-icons" title="Modifier">save</md-icon>
      </md-button>
		</div>
		<div flex="5" layout="column" layout-align=" end" ng-if="$ctrl.currentUpdateId.onUpdate && $ctrl.currentUpdateId.id == profession.$id">
			<md-button ng-click="$ctrl.parent.askDeleteProfession(profession.$id)" aria-label="delete profession">
					<md-icon class="material-icons pointer delete" md-font-set="material-icons" title="Supprimer">delete</md-icon>
			</md-button>
		</div>
	</md-whiteframe>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="$ctrl.professions.length <= 0 && $ctrl.parent.professionsReference.$resolved">
		<p>Vous n’avez pas encore de professions</p>
	</div>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="result.length === 0 && $ctrl.parent.professionsReference.$resolved && $ctrl.professions.length > 0">
		<p>Aucun résultat trouvé</p>
	</div>
	<div flex="100" layout="row" layout-align="center center" class="empty-result" ng-if="!$ctrl.parent.professionsReference.$resolved">
		<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="30"></md-progress-circular>
	</div>
</div>
