<md-content layout="column" class="app-layout" ng-if="$root.userCredential.fullaccess == 1">
    <div layout="row" class="app-header" hide-xs layout-padding>
        <div flex layout="column" class="title">
            <h1 class="md-display-1">Gestion des listes</h1>
            <p>Visualiser et manager vos listes</p>
        </div>
        <span flex></span>
        <div flex layout="column" class="information" layout-align="start end">
            <p ng-if="$ctrl.selectedTabIndex == 0">Vous avez <span class="candidate-length">{{$ctrl.professionsReference.length}} </span> métier(s)</p>
            <p ng-if="$ctrl.selectedTabIndex == 1">Vous avez <span class="candidate-length">{{$ctrl.specialitesReference.length}} </span> spécialité(s)</p>
            <p ng-if="$ctrl.selectedTabIndex == 2">Vous avez <span class="candidate-length">{{$ctrl.marquesReference.length}} </span> marque(s)</p>
        </div>
    </div>
    <div layout="column" class="app-tab-container">
        <md-tabs md-dynamic-height md-disable-animation md-swipe-content md-enable-disconnect md-disable-animation md-selected="$ctrl.selectedTabIndex">
            <md-tab ng-repeat="tab in $ctrl.routerTabConfig" md-on-select="$ctrl.routerTab(tab.router)">
            	<md-tab-label>
                  {{tab.label}}
              </md-tab-label>
            </md-tab>
        </md-tabs>
        <ng-outlet class="app-list-container"></ng-outlet>
    </div>
</md-content>
