<div layout="column" class="list" layout-margin>
	<md-whiteframe class="md-whiteframe-1dp candidate-card" layout="row" layout-padding layout-align="start center">
		<div flex="100">
      <h3>Ajouter une specialite</h3>
      <md-input-container class="md-block" flex-gt-sm="50" flex-xs="100" md-no-float>
  			<input type="text" ng-model="$ctrl.newSpecialite.name" placeholder="Nom de la specialite" ng-keypress="$ctrl.addSpecialite($event, $ctrl.newSpecialite)">
  		  <md-icon class="material-icons pointer save" md-font-set="material-icons" title="valider" ng-show="$ctrl.newSpecialite.name.length > 0"  ng-click="$ctrl.parent.addSpecialite($ctrl.newSpecialite)">add</md-icon>
  		</md-input-container>
		</div>
	</md-whiteframe>
	<md-whiteframe class="md-whiteframe-1dp candidate-card" layout="row" layout-padding ng-show="$ctrl.parent.specialitesReference.$resolved" layout-align="start center" ng-repeat="specialite in $ctrl.parent.specialitesReference | orderBy: 'name' | limitTo: $ctrl.limit as result track by $index">
		<div flex="80" layout-align="center center" ng-click="$ctrl.showToUpdate(specialite)">
      <md-input-container class="md-block" flex-xs="100" md-no-float ng-if="$ctrl.currentUpdateId.onUpdate && $ctrl.currentUpdateId.id == specialite.$id">
  			<input type="text" ng-model="specialite.name" ng-keypress="$ctrl.valideUpdateSpecialite($event, specialite, $ctrl.currentUpdateId)" aria-label="specialite name">
  		</md-input-container>
			<h3 ng-if="!$ctrl.currentUpdateId.onUpdate || $ctrl.currentUpdateId.id != specialite.$id">{{specialite.name}}</h3>
		</div>
		<div flex="5" layout="column" layout-align=" end" ng-if="$ctrl.currentUpdateId.onUpdate && $ctrl.currentUpdateId.id == specialite.$id">
			<md-button ng-click="$ctrl.valideUpdateSpecialiteBtn(specialite, $ctrl.currentUpdateId)" aria-label="edit specialite">
					<md-icon class="material-icons pointer delete" md-font-set="material-icons" title="Modifier">save</md-icon>
			</md-button>
		</div>
		<div flex="5" layout="column" layout-align=" end" ng-if="$ctrl.currentUpdateId.onUpdate && $ctrl.currentUpdateId.id == specialite.$id">
			<md-button ng-click="$ctrl.parent.askDeleteSpecialite(specialite.$id)" aria-label="delete specialite">
					<md-icon class="material-icons pointer delete" md-font-set="material-icons" title="Modifier">delete</md-icon>
			</md-button>
		</div>
	</md-whiteframe>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="$ctrl.specialites.length <= 0 && $ctrl.parent.specialitesReference.$resolved">
		<p>Vous n’avez pas encore de specialites</p>
	</div>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="result.length === 0 && $ctrl.parent.specialitesReference.$resolved && $ctrl.specialites.length > 0">
		<p>Aucun résultat trouvé</p>
	</div>
	<div flex="100" layout="row" layout-align="center center" class="empty-result" ng-if="!$ctrl.parent.specialitesReference.$resolved">
		<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="30"></md-progress-circular>
	</div>
</div>
