<div role="dialog" class="panel-inner" aria-label="promoter-panel-offer" layout="column">
  	<md-toolbar class="md-primary md-hue-1">
    	<div class="md-toolbar-tools">
			<md-button class="md-icon-button md-accent" ng-click="$ctrl.closePanel()">
            	<md-icon class="material-icons pointer" md-font-set="material-icons">
                	close
            	</md-icon>
        	</md-button>
  			<span>
  				<h2>{{$ctrl.offer.title}}</h2>
  			</span>
  			<span flex></span>
  			<md-menu md-position-mode="target-right target">
	            <md-button aria-label="Open demo menu" class="md-icon-button md-accent" ng-click="$mdOpenMenu($event)">
	                <i class="material-icons">more_vert</i>
	            </md-button>
	            <md-menu-content width="4">
	                <md-menu-item ng-if="!$ctrl.offer.admin.paymentCheck && $ctrl.offer.checkout">
	                    <md-button ng-click="$ctrl.checkPayment()">
	                        <div layout="row" flex>
	                            <p flex>Valider le paiement</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	                <md-menu-item>
	                    <md-button ng-click="$ctrl.shareOffer()">
	                        <div layout="row" flex>
	                            <p flex>Partager</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	                <md-menu-item>
	                    <md-button ng-click="$ctrl.removeOffer()">
	                        <div layout="row" flex>
	                            <p flex>Supprimer l'offre</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	            </md-menu-content>
	        </md-menu>
    	</div>
  	</md-toolbar>
  	<md-content flex class="layout-board" ng-if="!$ctrl.offer.$resolved" layout-padding>
  		<div layout="row" flex="100" layout-align="center center">
			<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="30"></md-progress-circular>
		</div>
  	</md-content>
	<md-content flex class="layout-board" ng-if="$ctrl.offer.$resolved">
		<div class="layout-board-header">
			<div class="overlay"></div>
			<div class="layout-board-header-inner">
				<div class="layout-board-header-title" layout="row" layout-align="start center">
					<div layout="column">
						<span class="offer-id">{{$ctrl.offer.$id}}</span>
						<h1>{{$ctrl.offer.title}}</h1>
						<p>Publiée depuis le {{$ctrl.offer.publishDate | date: 'dd/MM/yyyy à HH:mm:ss'}}</p>
					</div>
				</div>
				<div layout="row" layout-align="start center">
					<div class="stats">
						<span>{{$ctrl.offer.findCandidates}}</span> candidat(s) trouvé(s)
					</div>
					<div class="stats">
						<span>{{$ctrl.candidates.length}}</span> candidat(s)
					</div>
					<div class="stats">
						<span>{{$ctrl.offer.notifications.selectedCandidateLength}}</span> candidat(s) sélectionné(s)
					</div>
					<!-- <div class="stats">
						<span>{{$ctrl.offer.notifications.checkoutCandidateLength}}</span> candidat(s) payé(s)
					</div> -->
				</div>
			</div>
		</div>
		<div class="layout-board-main">
			<div class="layout-board-main-inner">
				<div layout="row" layout-wrap layout-padding class="layout-board-section">
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Genre</h3>
						<p>{{$ctrl.offer.criterias.gender.join(', ')}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Prestations</h3>
						<p ng-if="!$root.isArray($ctrl.offer.searchPerformance)">{{$ctrl.offer.searchPerformance}}</p>
		        <p ng-if="$root.isArray($ctrl.offer.searchPerformance)">{{$ctrl.offer.searchPerformance.join(', ')}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Nombre de personnes</h3>
						<p>{{$ctrl.offer.personNumber}} personne(s)</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Spécialités</h3>
						<p>{{$ctrl.offer.specialite}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Qui ont travaillé pour la marque</h3>
						<p>{{$ctrl.offer.marques.join(', ')}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Type de contrat</h3>
						<p>{{$ctrl.offer.contratType.join(', ')}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Disponibilité</h3>
						<p ng-if="$ctrl.offer.fullAvailability">Présence obligatoire sur toutes les dates</p>
						<p ng-if="!$ctrl.offer.fullAvailability">Présence non obligatoire sur toutes les dates</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Date</h3>
						<p ng-if="$ctrl.offer.dates.type !== 'uniq'">{{$ctrl.offer.dates.startDate | date: 'dd/MM/yyyy'}} au {{$ctrl.offer.dates.endDate | date: 'dd/MM/yyyy'}}</p>
		                <p ng-if="$ctrl.offer.dates.type === 'uniq'">{{$ctrl.offer.dates.startDate | date: 'dd/MM/yyyy'}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Plage horaire</h3>
						<div layout="row" layout-wrap ng-if="$ctrl.offer.schedules.type === 'variable'">
		                    <div ng-repeat="slot in $ctrl.offer.schedules.timeSlots" flex-gt-sm="50">
		                        <h5>{{slot.date | date:'fullDate'}}</h5>
		                        <p ng-repeat="time in slot.slots">{{time.start}} - {{time.end}}</p>
		                    </div>
		                </div>
		                <div layout="column" layout-wrap ng-if="$ctrl.offer.schedules.type !== 'variable'">
		                	<ul>
			                    <li ng-repeat="time in $ctrl.offer.schedules.timeSlots[0].slots">
			                        <p>{{time.start}} - {{time.end}}</p>
			                    </li>
		                    </ul>
		                </div>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Nombre d'heures travaillées</h3>
						<p>{{$ctrl.offer.workTime}} heure(s)</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Salaire brut horaire</h3>
						<p>{{$ctrl.offer.baseSalary}}€ / heure</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Statut auto entrepreneur requis</h3>
						<p ng-if="$ctrl.offer.freelance">Oui</p>
						<p ng-if="!$ctrl.offer.freelance">Non</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Langue(s) parlée(s) requise(s)</h3>
						<ul>
							<li ng-repeat="language in $ctrl.offer.criterias.languages">
								<p>{{language}}</p>
							</li>
							<li ng-if="!$ctrl.offer.criterias.languages">
								<p>Aucune</p>
							</li>
						</ul>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Prime(s)</h3>
        		<p ng-if="$ctrl.offer.bonus.ipp">Indemnités de fin de contrat (10%)</p>
                <p ng-if="$ctrl.offer.bonus.iccp">Indemnité congés payés (10%)</p>
                <p ng-if="$ctrl.offer.bonus.night">Heures dimanches et jours fériés majorés (25%)</p>
                <p ng-if="$ctrl.offer.bonus.soireemaj">Heures soirées après 21h majorées</p>
		                <p ng-if="!$ctrl.offer.bonus.ipp && !$ctrl.offer.bonus.iccp && !$ctrl.offer.bonus.night && !$ctrl.offer.bonus.soireemaj">Aucune prime</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Repas</h3>
						<p ng-if="$ctrl.offer.food">Indemnités repas</p>
		                <p ng-if="!$ctrl.offer.food">Pas d'indemnités repas</p>
					</div>
					<!-- <div flex-gt-sm="33" flex-xs="100" class="layout-board-main-cell">
			            <h3 class="layout-board-title">Tenue</h3>
			            <p ng-if="$ctrl.offer.outfit">Tenue fournie par l'employeur</p>
			            <p ng-if="!$ctrl.offer.outfit">Tenue non fournie par l'employeur</p>
			        </div> -->
			        <div flex-gt-sm="33" flex-xs="100" class="layout-board-main-cell">
			            <h3 class="layout-board-title">Frais de transport</h3>
			            <p ng-if="$ctrl.offer.freightCharge">Indemnités transport</p>
			            <p ng-if="!$ctrl.offer.freightCharge">Pas d'indemnités transport</p>
			        </div>
			        <div flex-gt-sm="33" flex-xs="100" class="layout-board-main-cell">
			            <h3 class="layout-board-title">Département</h3>
			            <p>{{$ctrl.offer.department.join(', ')}}</p>
			        </div>
			        <div flex-gt-sm="33" flex-xs="100" class="layout-board-main-cell">
			            <h3 class="layout-board-title">Adresse</h3>
			            <p>{{$ctrl.offer.address}}</p>
			        </div>
			        <div flex-gt-sm="33" flex-xs="100" class="layout-board-main-cell">
			            <h3 class="layout-board-title">Véhiculé</h3>
			            <p ng-if="$ctrl.offer.criterias.vehicle">Oui</p>
			            <p ng-if="!$ctrl.offer.criterias.vehicle">Peu importe</p>
			        </div>
			        <div flex-gt-sm="33" flex-xs="100" class="layout-board-main-cell">
			            <h3 class="layout-board-title">Permis de conduire</h3>
			            <p ng-if="$ctrl.offer.criterias.driver">{{$ctrl.offer.criterias.driver}}</p>
			            <p ng-if="!$ctrl.offer.criterias.driver">Peu importe</p>
			        </div>
			        <div flex-gt-sm="33" flex-xs="100" class="layout-board-main-cell">
			            <h3 class="layout-board-title">Langages spécifique</h3>
			            <p ng-if="$ctrl.offer.criterias.languages">{{$ctrl.offer.criterias.languages.join(', ')}}</p>
			            <p ng-if="!$ctrl.offer.criterias.languages">Aucun langage</p>
			        </div>
					<div flex="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Description</h3>
						<div class="layout-board-description" ng-bind-html="$ctrl.offer.description"></div>
					</div>
				</div>
				<div layout="column" layout-wrap layout-padding class="layout-board-section">
					<div class="layout-board-main-cell full">
						<div layout="row" layout-align="start center">
							<h3 class="layout-board-title">Candidats <span class="md-caption badge-wave" ng-if="$ctrl.candidates.length > 0">{{$ctrl.candidates.length}}</span></h3>
							<span flex></span>
							<md-button class="md-accent" ng-click="$ctrl.viewCandidateList()">Plus</md-button>
						</div>
						<div class="layout-board-card-container no-padding" ng-if="!$ctrl.offer.candidates">
							<p>Il n'y a aucun candidat</p>
						</div>
						<div class="layout-board-card-container no-padding" ng-if="$ctrl.offer.candidates">
							<div class="layout-board-card-container-scrollable">
								<div class="candidate-avatar" firebase-storage uid="candidate.$id" bucket-name="userPictures" background="candidate.pictures.portrait.name" ng-repeat="candidate in $ctrl.candidates | limitTo: 10" ng-click="$ctrl.viewCandidateProfile(candidate)">
									<div class="candidate-avatar-overlay">
										<md-icon class="material-icons pointer" md-font-set="material-icons">
                							remove_red_eye
            							</md-icon>
									</div>
									<span class="candidate-avatar-selected" ng-if="candidate.selected"></span>
									<md-tooltip class="layout-board-tooltip" md-direction="bottom">
            							{{candidate.firstname}} {{candidate.lastname}}
          							</md-tooltip>
          							<div class="notification-circle" ng-if="candidate.new"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div layout="column" layout-wrap layout-padding class="layout-board-section" ng-if="!$ctrl.offer.payments">
					<div class="layout-board-main-cell">
						<h3 class="layout-board-title">Paiement</h3>
						<p>Aucun paiement</p>
					</div>
				</div>
				<div layout="row" layout-wrap layout-padding class="layout-board-section" ng-repeat="payment in $ctrl.offer.payments">
					<div class="layout-board-main-cell" flex="100">
						<h3 class="layout-board-title">Paiement #{{$index + 1}}</h3>
						<p>{{payment.date | date: 'dd/MM/yyyy à HH:mm:ss'}}</p>
						<div class="layout-board-card-container no-padding">
							<div class="layout-board-card-container-scrollable">
								<div class="candidate-avatar" firebase-storage uid="candidate.id" bucket-name="userPictures" background="candidate.avatar" ng-repeat="candidate in payment.candidates">
									<md-tooltip class="layout-board-tooltip" md-direction="bottom" ng-if="!$ctrl.parent.offer.finish">
				            			{{candidate.firstname}} {{candidate.lastname}}
				          			</md-tooltip>
				          			<md-tooltip class="layout-board-tooltip" md-direction="bottom" ng-if="$ctrl.parent.offer.finish">
				            			{{candidate.firstname}} {{candidate.firstLetter}}
				          			</md-tooltip>
								</div>
							</div>
						</div>
					</div>
					<div class="layout-board-main-cell" flex="25">
						<h3 class="layout-board-title">Nombre de personne</h3>
						<p>{{payment.candidates.length}} personne(s)</p>
					</div>
					<div class="layout-board-main-cell" flex="25">
						<h3 class="layout-board-title">Frais de mise en relation</h3>
						<p>{{payment.managementFees | number:2}}€</p>
					</div>
					<div class="layout-board-main-cell" flex="25">
						<h3 class="layout-board-title">TVA 20%</h3>
						<p>{{payment.tva | number:2}}€</p>
					</div>
					<div class="layout-board-main-cell" flex="25">
						<h3 class="layout-board-title">Total TTC</h3>
						<p>{{payment.total | number:2}}€</p>
					</div>
				</div>
				<div layout="row" layout-wrap layout-padding class="layout-board-section" ng-if="$ctrl.offer.payments">
					<div class="layout-board-main-cell" flex="25">
						<h3 class="layout-board-title">Total TTC de l'offre</h3>
						<p>{{$ctrl.offer.total | number:2}}€</p>
					</div>
				</div> -->
			</div>
		</div>
	</md-content>
</div>
