<div role="dialog" class="panel-inner" aria-label="promoter-panel-offer" layout="column">
  	<md-toolbar class="md-primary md-hue-1">
    	<div class="md-toolbar-tools">
			<md-button class="md-icon-button md-accent" ng-click="$ctrl.closePanel()">
            	<md-icon class="material-icons pointer" md-font-set="material-icons">
                	close
            	</md-icon>
        	</md-button>
  			<span>
  				<h2>Devis n°{{$ctrl.quotation.$id}}</h2>
  			</span>
  			<span flex></span>
  			<md-menu md-position-mode="target-right target">
	            <md-button aria-label="Open demo menu" class="md-icon-button md-accent" ng-click="$mdOpenMenu($event)">
	                <i class="material-icons">more_vert</i>
	            </md-button>
	            <md-menu-content width="4">
	                <md-menu-item ng-if="!$ctrl.offer.admin.check">
	                    <md-button ng-click="$ctrl.checkQuotation()">
	                        <div layout="row" flex>
	                            <p flex>Valider le devis</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
					<md-menu-item>
	                    <md-button ng-click="$ctrl.exportPDF()">
	                        <div layout="row" flex>
	                            <p flex>Exporter le devis en PDF</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	                <md-menu-item>
	                    <md-button ng-href="mailto:{{$ctrl.quotation.agency.mail}}">
	                        <div layout="row" flex>
	                            <p flex>Contacter par email</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	                <md-menu-item>
	                    <md-button ng-href="mailto:{{$ctrl.quotation.agency.phone}}">
	                        <div layout="row" flex>
	                            <p flex>Contacter par téléphone</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	                <md-menu-item>
	                    <md-button ng-click="$ctrl.removeQuotation()">
	                        <div layout="row" flex>
	                            <p flex>Supprimer le devis</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	            </md-menu-content>
	        </md-menu>
    	</div>
  	</md-toolbar>
	<md-content flex class="layout-board">
		<div class="layout-board-header">
			<div class="overlay"></div>
			<div class="layout-board-header-inner">
				<div class="layout-board-header-title" layout="row" layout-align="start center">
					<div layout="column">
						<span class="offer-id">{{$ctrl.quotation.agency.id}}</span>
						<h1>{{$ctrl.quotation.agency.name}}</h1>
						<p>{{$ctrl.quotation.agency.contactName}}</p>
						<p>{{$ctrl.quotation.agency.mail}}</p>
						<p>{{$ctrl.quotation.agency.phone}}</p>
						<p>Envoyé le {{$ctrl.quotation.timestamp * 1000 | date: 'dd/MM/yyyy à HH:mm:ss'}}</p>
					</div>
				</div>
				<div layout="row" layout-align="start center">
					<div class="stats">
						<span>{{$ctrl.quotation.personNumber}}</span> personne(s) recherchée(s)
					</div>
					<div class="stats">
						<span>{{$ctrl.quotation.chiefHostessNumber}}</span> chef(s) hôte(sse) recherché(s)
					</div>
				</div>
			</div>
		</div>
		<div class="layout-board-main">
			<div class="layout-board-main-inner">
				<div layout="row" layout-wrap layout-padding class="layout-board-section">
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Adresse</h3>
						<p>{{$ctrl.quotation.address}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Ville</h3>
						<p>{{$ctrl.quotation.city}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Date</h3>
						<p ng-if="$ctrl.quotation.dates.type !== 'uniq'">{{$ctrl.quotation.dates.startDate | date: 'dd/MM/yyyy'}} au {{$ctrl.quotation.dates.endDate | date: 'dd/MM/yyyy'}}</p>
		                <p ng-if="$ctrl.quotation.dates.type === 'uniq'">{{$ctrl.quotation.dates.startDate | date: 'dd/MM/yyyy'}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Plage horaire</h3>
		                <div layout="column" layout-wrap>
		                	<ul>
			                    <li ng-repeat="time in $ctrl.quotation.schedules.timeSlots[0].slots">
			                        <p>{{time.start}} - {{time.end}}</p>
			                    </li>
		                    </ul>
		                </div>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Nombre d'heures travaillées</h3>
						<p>{{$ctrl.quotation.workTime}} heure(s)</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Nombre de personnes recherché</h3>
						<p>{{$ctrl.quotation.personNumber}} personne(s)</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Nombre de chef hôte(sse) recherché</h3>
						<p>{{$ctrl.quotation.chiefHostessNumber}} personne(s)</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Repas</h3>
						<p ng-if="$ctrl.quotation.food">Indemnités repas</p>
		                <p ng-if="!$ctrl.quotation.food">Pas d'indemnités repas</p>
					</div>
					<!-- <div flex-gt-sm="33" flex-xs="100" class="layout-board-main-cell">
			            <h3 class="layout-board-title">Tenue</h3>
			            <p ng-if="$ctrl.quotation.outfit">Tenue fournie par l'employeur</p>
			            <p ng-if="!$ctrl.quotation.outfit">Tenue non fournie par l'employeur</p>
			        </div> -->
			        <div flex-gt-sm="33" flex-xs="100" class="layout-board-main-cell">
			            <h3 class="layout-board-title">Département</h3>
			            <p>{{$ctrl.quotation.department.join(', ')}}</p>
			        </div>
					<div flex="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Description</h3>
						<div class="layout-board-description" ng-bind-html="$ctrl.quotation.description"></div>
					</div>
				</div>
			</div>
		</div>
	</md-content>
</div>
