<div layout="column" class="search-bar">
	<md-whiteframe class="md-whiteframe-1dp" layout="row" layout-align="start center">
		<md-input-container class="md-block" flex-gt-sm="50" flex-xs="100" md-no-float>
			<md-icon class="material-icons pointer" md-font-set="material-icons">search</md-icon>
		    <input ng-model="searchPromoter" ng-model-options="{debounce: 500}" type="text" placeholder="Rechercher des recruteurs">
		    <md-icon class="material-icons pointer cancel-search" md-font-set="material-icons" ng-show="searchPromoter"  ng-click="searchPromoter.$rollbackViewValue(); searchAgency = ''">cancel</md-icon>
		</md-input-container>
		<span flex></span>
	</md-whiteframe>
</div>
<div layout="column" class="list" layout-margin>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="result.length > 0 && $ctrl.parent.promoterReference.$resolved && $ctrl.parent.promoterReference.length > 0">
		<p>Vous avez {{filtered.length}} organisateur(s) qui correspondent à votre recherche</p>
	</div>

	<md-whiteframe class="md-whiteframe-1dp candidate-card" layout="row" layout-padding ng-show="$ctrl.parent.promoterReference.$resolved" layout-align="start center" ng-repeat="promoter in (filtered = ($ctrl.promoters | filter:searchPromoter)) | orderBy: '-registerDate' | limitTo: $ctrl.limit as result track by $index">
		<div flex="20">
			<p>{{promoter.registerDate | date:'dd/MM/yyyy HH:mm:ss' : 'UTC'}}</p>
		</div>
		<div flex="20" layout-align="center center">
			<h3>{{promoter.name}}</h3>
			<p>{{promoter.contactName}}</p>
		</div>
		<div flex="20">
			<p>{{promoter.mail}}</p>
			<p>{{promoter.phone}}</p>
		</div>
		<div flex="20">
			<p>{{promoter.city}}</p>
		</div>
		<div flex="5" class="badge" layout="row">
            <span class="md-caption" ng-if="promoter.notifications && promoter.notifications.global > 0">{{promoter.notifications.global}}</span>
        </div>
		<div flex="10" layout="column" layout-align="center end">
			<md-switch ng-model="promoter.validate" ng-change="$ctrl.parent.toggleValid(promoter.$id)" aria-label="Valider le recruteur"></md-switch>
		</div>
		<div flex="5" layout="column" layout-align="center end">
			<md-menu md-position-mode="target-right target">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <i class="material-icons">more_vert</i>
                </md-button>
                <md-menu-content width="4" >
                    <md-menu-item>
                        <md-button ng-click="$ctrl.parent.viewPromoterProfile(promoter)">
                            <div layout="row" flex>
                                <p flex>Voir les détails</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.parent.changeRole(promoter.$id)">
                            <div layout="row" flex>
                                <p flex>Changer de rôle</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.parent.updateNbPublications($event, promoter)">
                            <div layout="row" flex>
                                <p flex>Changer nombre publications</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.parent.updateNbBackUpPublications($event, promoter)">
                            <div layout="row" flex>
                                <p flex>Publication back up</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <!-- <md-menu-item>
                        <md-button ng-click="$ctrl.parent.togglePaymentType(promoter.$id)">
                            <div layout="row" flex>
                                <p flex>Changer le mode de paiement</p>
                            </div>
                        </md-button>
                    </md-menu-item> -->
                    <md-menu-item>
                        <md-button ng-href="mailto:{{promoter.mail}}">
                            <div layout="row" flex>
                                <p flex>Envoyer un email</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-href="tel:{{promoter.phone}}">
                            <div layout="row" flex>
                                <p flex>Contacter par téléphone</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.parent.disableAccount(promoter.$id)" aria-label="disable account">
                            <div layout="row" flex>
                                <p flex ng-if="!promoter.disabled">Désactiver le compte</p>
                                <p flex ng-if="promoter.disabled">Activer le compte</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.parent.deleteAccount(promoter.$id)" aria-label="disable account">
                            <div layout="row" flex>
                                <p flex>Supprimer</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
		</div>
	</md-whiteframe>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="$ctrl.parent.promoterReference.length <= 0 && $ctrl.parent.promoterReference.$resolved">
		<p>Vous n’avez pas encore d'organisateur</p>
	</div>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="result.length === 0 && $ctrl.parent.promoterReference.$resolved && $ctrl.parent.promoterReference.length > 0">
		<p>Aucun résultat trouvé</p>
	</div>
	<div flex="100" layout="row" layout-align="center center" class="empty-result" ng-if="!$ctrl.parent.promoterReference.$resolved">
		<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="30"></md-progress-circular>
	</div>
	<div layout="column" flex="100" class="more-info">
		<div layout="row" layout-align="center center" ng-if="!$ctrl.end && result.length > 0 && $ctrl.parent.promoterReference.$resolved">
			<md-button ng-click="$ctrl.getMore()" class="md-raised md-accent">Plus d'organisateur</md-button>
		</div>
	</div>
</div>
