<div role="dialog" class="panel-inner" aria-label="promoter-panel-candidate-list" layout="column">
  	<md-toolbar md-scroll-shrink class="md-primary md-hue-1">
    	<div class="md-toolbar-tools">
			<md-button class="md-icon-button md-accent" ng-click="$ctrl.closePanel()">
            	<md-icon class="material-icons pointer" md-font-set="material-icons">
                	close
            	</md-icon>
        	</md-button>
  			<span>
  				<h2>Liste des candidats</h2>
  			</span>
  			<span flex></span>
  			<md-input-container class="toolbar-search" md-no-float class="md-block" ng-class="{active: $ctrl.activeSearch}">
        		<input ng-model="$ctrl.searchCandidate" placeholder="Rechercher un candidat">
      		</md-input-container>
  			<md-button class="md-icon-button md-accent" ng-click="$ctrl.toggleSearch()">
            	<md-icon class="material-icons pointer" md-font-set="material-icons">
                	search
            	</md-icon>
        	</md-button>
    	</div>
  	</md-toolbar>
  	<md-toolbar class="md-toolbar-filter md-primary md-hue-1" md-scroll-shrink>
  		<div class="md-toolbar-tools">
  			<div flex layout="row" layout-align="start center" class="md-toolbar-filter-scrollbable">
  				<md-select ng-model="$ctrl.applyDate" placeholder="Date de candidature">
					<md-option value=""></md-option>
					<md-option value="-applyDate">Plus récents</md-option>
					<md-option value="+applyDate">Plus anciens</md-option>
		        </md-select>
				<md-select ng-model="$ctrl.searchSexe" placeholder="Genre">
					<md-option value=""></md-option>
					<md-option ng-value="sexe.value" ng-repeat="sexe in $root.filterConfig.sexe">{{sexe.name}}</md-option>
		        </md-select>
				<md-select class="md-accent" ng-model="$ctrl.searchLanguage" placeholder="Langages" multiple>
	                <md-option ng-value="language.value" ng-repeat="language in $root.filterConfig.languages">
	                    {{language.name}}
	                </md-option>
	            </md-select>
	            <md-select ng-model="$ctrl.searchSkill" placeholder="Savoir faire" multiple>
					<md-option ng-value="skill.value" ng-repeat="skill in $root.filterConfig.skills">
						{{skill.name}}
					</md-option>
		        </md-select>
		    </div>
	        <span flex style="flex: none"></span>
	        <md-button class="md-accent" ng-click="$ctrl.resetFilter()">Réinitialiser</md-button>
    	</div>
  	</md-toolbar>
	<md-content flex class="layout-board">
		<div class="layout-board-main">
			<div flex="100" class="layout-board-main-inner fullwidth">
				<div layout="row" flex="100" layout-align="center center" class="layout-board-card-container" ng-if="!$ctrl.candidates.$resolved">
					<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="30"></md-progress-circular>
				</div>
				<div layout="row" flex="100" layout-align="center center" class="layout-board-card-container" ng-if="$ctrl.candidates.$resolved && $ctrl.candidates.length <= 0">
					<p>Aucun candidat pour l'instant</p>
				</div>
				<div layout="row" flex="100" layout-align="center center" class="layout-board-card-container" ng-if="$ctrl.candidates.$resolved && result.length <= 0">
					<p>Aucun résultat pour cette recherche</p>
				</div>
				<md-list class="layout-board-list">
					<md-list-item class="layout-board-list-item md-offset" ng-repeat="candidate in $ctrl.candidates | filter: $ctrl.searchCandidate | filter: {searchPerformance: $ctrl.searchPerformance} | filterMultiple:mission.searchLanguage:'languages' | filterMultiple:mission.searchSkill:'skills' | orderBy: $ctrl.applyDate as result" ng-click="$ctrl.viewCandidateProfile(candidate)">
						<div flex="5" class="candidate-avatar" firebase-storage uid="candidate.$id" bucket-name="userPictures" background="candidate.pictures.portrait.name">
							<span class="candidate-avatar-selected" ng-if="candidate.selected"></span>
							<div class="notification-circle" ng-if="candidate.new"></div>
						</div>
						<p flex="15" class="title">{{candidate.firstname}} {{candidate.lastname}}</p>
						<p flex="30">{{candidate.mail}}</p>
						<p flex="10">{{candidate.phone}}</p>
						<p flex="15">{{candidate.city}}</p>
						<p flex="5">{{candidate.zip}}</p>
						<span flex></span>
						<md-button class="md-icon-button md-accent" ng-click="$ctrl.removeCandidateFromOffer(candidate)">
			            	<md-icon class="material-icons pointer" md-font-set="material-icons">
			                	close
			            	</md-icon>
			        	</md-button>
					</md-list-item>
				</md-list>
			</div>
		</div>
	</md-content>
</div>