<div role="dialog" class="panel-inner" aria-label="promoter-panel" layout="column">
  	<md-toolbar class="md-primary md-hue-1">
    	<div class="md-toolbar-tools">
			<md-button class="md-icon-button md-accent" ng-click="$ctrl.closePanel()">
            	<md-icon class="material-icons pointer" md-font-set="material-icons">
                	arrow_back
            	</md-icon>
        	</md-button>
  			<span>
  				<h2>Profil de {{$ctrl.promoter.name}}</h2>
  			</span>
  			<span flex></span>
  			<md-menu md-position-mode="target-right target">
	            <md-button aria-label="Open demo menu" class="md-icon-button md-accent" ng-click="$mdOpenMenu($event)">
	                <i class="material-icons">more_vert</i>
	            </md-button>
	            <md-menu-content width="4">
	                <md-menu-item>
	                    <md-button ng-href="tel:{{$ctrl.promoter.phone}}">
	                        <div layout="row" flex>
	                            <p flex>Appeler</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	                <md-menu-item>
	                    <md-button ng-href="mailto:{{$ctrl.promoter.mail}}">
	                        <div layout="row" flex>
	                            <p flex>Envoyer un email</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	                <md-menu-item>
	                    <md-button ng-click="$ctrl.disableAccount()">
	                        <div layout="row" flex>
	                            <p flex ng-if="!$ctrl.promoter.disabled">Désactiver le compte</p>
	                            <p flex ng-if="$ctrl.promoter.disabled">Activer le compte</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	            </md-menu-content>
	        </md-menu>
    	</div>
  	</md-toolbar>
	<md-content flex class="layout-board">
		<div class="layout-board-header" firebase-storage uid="$ctrl.promoter.$id" bucket-name="userPictures" background="$ctrl.promoter.avatar">
			<div class="overlay"></div>
			<div class="layout-board-header-inner">
				<div class="layout-board-header-title" layout="row" layout-align="start center">
					<div class="avatar" firebase-storage uid="$ctrl.promoter.$id" bucket-name="userPictures" background="$ctrl.promoter.avatar"></div>
					<div layout="column">
						<span class="offer-id">{{$ctrl.promoter.$id}}</span>
						<h1>{{$ctrl.promoter.name}}</h1>
						<p>Inscrit depuis le {{$ctrl.promoter.registerDate | date: 'dd/MM/yyyy'}}</p>
					</div>
				</div>
				<div layout="row" layout-align="start center">
					<div class="stats">
						<span>{{$ctrl.promoter.notifications.newOffers}}</span> nouvelles offres
					</div>
					<!-- <div class="stats">
						<span>{{$ctrl.promoter.notifications.newOffersCheckout}}</span> nouvelles offres payées
					</div>
					<div class="stats">
						<span>{{$ctrl.promoter.notifications.isNotChecked}}</span> Offres non payées
					</div> -->
				</div>
			</div>
		</div>
		<div class="layout-board-main">
			<div class="layout-board-main-inner" layout="column" layout-wrap layout-padding>
				<div layout="column" class="layout-board-main-cell full">
					<div layout="row" layout-align="start center">
						<h3>Offres en cours</h3>
						<span flex></span>
						<md-button class="md-accent" ng-click="$ctrl.viewListOffers('current')">Plus</md-button>
					</div>
					<div layout="row" layout-align="start center" class="layout-board-card-container" ng-if="!$ctrl.currentOfferReference.$resolved">
						<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="30"></md-progress-circular>
					</div>
					<div layout="row" layout-align="start center" class="layout-board-card-container" ng-if="$ctrl.currentOfferReference.$resolved && $ctrl.currentOffers.length <= 0">
						<p>Aucune offre en cours</p>
					</div>
					<div class="layout-board-card-container">
						<div class="layout-board-card-container-scrollable">
							<div class="layout-board-card" ng-repeat="offer in $ctrl.currentOffers | limitTo: $ctrl.limit track by $index" ng-click="$ctrl.viewOffer(offer)">
								<div class="layout-board-card-header" layout="row" layout-align="start center">
									<div class="layout-board-card-badge pink" ng-if="offer.admin.newCurrent">Nouveau</div>
									<!-- <div class="layout-board-card-badge pink" ng-if="!offer.checkout">Non payée</div> -->
									<div class="layout-board-card-badge grey" ng-if="offer.abort">Abandonnée</div>
								</div>
								<div class="layout-board-card-body" layout="column">
									<h3>{{offer.title}}</h3>
									<span>Publié le {{offer.publishDate | date: 'dd/MM/yyyy à HH:mm:ss'}}</span>
									<p>
										<md-icon class="material-icons pointer" style="{{$root.iconColor.lightGrey}}" md-font-set="material-icons">place</md-icon>
										{{offer.address}}
									</p>
									<p class="layout-board-card-date">{{offer.dates.startDate | date: 'fullDate'}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div layout="column" class="layout-board-main-cell full">
					<!-- <div layout="row" layout-align="start center">
						<h3>Offres payées</h3>
						<span flex></span>
						<md-button class="md-accent" ng-click="$ctrl.viewListOffers('checkout')">Plus</md-button>
					</div> -->
					<div layout="row" layout-align="start center" class="layout-board-card-container" ng-if="!$ctrl.currentOfferReference.$resolved">
						<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="30"></md-progress-circular>
					</div>
					<!-- <div layout="row" layout-align="start center" class="layout-board-card-container" ng-if="$ctrl.currentOfferReference.$resolved && $ctrl.checkoutOffers.length <= 0">
						<p>Aucune offre payée</p>
					</div> -->
					<div class="layout-board-card-container">
						<div class="layout-board-card-container-scrollable">
							<div class="layout-board-card" ng-repeat="offer in $ctrl.checkoutOffers | limitTo: $ctrl.limit track by $index" ng-click="$ctrl.viewOffer(offer)">
								<div class="layout-board-card-header" layout="row" layout-align="start center">
									<div class="layout-board-card-badge pink" ng-if="offer.admin.newCurrent">Nouveau</div>
									<div class="layout-board-card-badge green" ng-if="offer.checkout && !offer.admin.paymentCheck">Payée</div>
									<div class="layout-board-card-badge green" ng-if="offer.admin.paymentCheck">Paiement validé</div>
								</div>
								<div class="layout-board-card-body" layout="column">
									<h3>{{offer.title}}</h3>
									<span>Publié le {{offer.publishDate | date: 'dd/MM/yyyy à HH:mm:ss'}}</span>
									<p>
										<md-icon class="material-icons pointer" style="{{$root.iconColor.lightGrey}}" md-font-set="material-icons">place</md-icon>
										{{offer.address}}
									</p>
									<p class="layout-board-card-date">{{offer.dates.startDate | date: 'fullDate'}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div layout="column" class="layout-board-main-cell full">
					<div layout="row" layout-align="start center">
						<h3>Offres terminées</h3>
						<span flex></span>
						<md-button class="md-accent" ng-click="$ctrl.viewListOffers('history')">Plus</md-button>
					</div>
					<div layout="row" layout-align="start center" class="layout-board-card-container" ng-if="!$ctrl.historyOfferReference.$resolved">
						<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="30"></md-progress-circular>
					</div>
					<div layout="row" layout-align="start center" class="layout-board-card-container" ng-if="$ctrl.historyOfferReference.$resolved && $ctrl.historyOffers.length <= 0">
						<p>Aucun offre terminée</p>
					</div>
					<div class="layout-board-card-container">
						<div class="layout-board-card-container-scrollable">
							<div class="layout-board-card" ng-repeat="offer in $ctrl.historyOffers | limitTo: $ctrl.limit track by $index" ng-click="$ctrl.viewOffer(offer)">
								<div class="layout-board-card-header" layout="row" layout-align="start center">
									<div class="layout-board-card-badge grey" ng-if="offer.abort">Abandonnée</div>
									<div class="layout-board-card-badge pink" ng-if="offer.admin.newCurrent">Nouveau</div>
									<div class="layout-board-card-badge green" ng-if="offer.checkout && !offer.admin.paymentCheck">Payée</div>
									<div class="layout-board-card-badge green" ng-if="offer.admin.paymentCheck">Paiement validé</div>
								</div>
								<div class="layout-board-card-body" layout="column">
									<h3>{{offer.title}}</h3>
									<span>Publié le {{offer.publishDate | date: 'dd/MM/yyyy à HH:mm:ss'}}</span>
									<p>
										<md-icon class="material-icons pointer" style="{{$root.iconColor.lightGrey}}" md-font-set="material-icons">place</md-icon>
										{{offer.address}}
									</p>
									<p class="layout-board-card-date">{{offer.dates.startDate | date: 'fullDate'}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</md-content>
</div>
