<div role="dialog" class="panel-inner" aria-label="promoter-panel-offer" layout="column">
  	<md-toolbar class="md-primary md-hue-1">
    	<div class="md-toolbar-tools">
			<md-button class="md-icon-button md-accent" ng-click="$ctrl.closePanel()">
            	<md-icon class="material-icons pointer" md-font-set="material-icons">
                	close
            	</md-icon>
        	</md-button>
  			<span>
  				<h2>Profil de {{$ctrl.candidate.firstname}} {{$ctrl.candidate.lastname}}</h2>
  			</span>
  			<span flex></span>
  			<span class="candidate-selected" ng-if="$ctrl.offerSelected"></span>
  			<md-menu md-position-mode="target-right target">
	            <md-button aria-label="Open demo menu" class="md-icon-button md-accent" ng-click="$mdOpenMenu($event)">
	                <i class="material-icons">more_vert</i>
	            </md-button>
	            <md-menu-content width="4">
	                <md-menu-item>
	                    <md-button ng-href="mailto:{{$ctrl.candidate.mail}}">
	                        <div layout="row" flex>
	                            <p flex>Contacter par email</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	                <md-menu-item>
	                    <md-button ng-href="tel:{{$ctrl.candidate.phone}}">
	                        <div layout="row" flex>
	                            <p flex>Contacter par téléphone</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	                <md-menu-item>
	                    <md-button ng-click="$ctrl.printCandidateProfile()">
	                        <div layout="row" flex>
	                            <p flex>Enregistrer la fiche candidat</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	                <md-menu-item>
	                    <md-button ng-click="$ctrl.removeCandidateFromOffer()">
	                        <div layout="row" flex>
	                            <p flex>Supprimer de l'offre</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	            </md-menu-content>
	        </md-menu>
    	</div>
  	</md-toolbar>
  	<md-content flex class="layout-board" ng-if="!$ctrl.candidate.$resolved" layout-padding>
  		<div layout="row" flex="100" layout-align="center center">
			<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="30"></md-progress-circular>
		</div>
  	</md-content>
	<md-content flex class="layout-board" ng-if="$ctrl.candidate.$resolved">
		<div class="layout-board-header" firebase-storage uid="$ctrl.candidate.$id" bucket-name="userPictures" background="$ctrl.candidate.pictures.fullFoot.name">
			<div class="overlay"></div>
			<div class="layout-board-header-inner">
				<div class="layout-board-header-title" layout="row" layout-align="start center">
					<div class="avatar" firebase-storage uid="$ctrl.candidate.$id" bucket-name="userPictures" background="$ctrl.candidate.pictures.portrait.name"></div>
					<div layout="column">
						<span class="offer-id">{{$ctrl.candidate.$id}}</span>
						<h1>{{$ctrl.candidate.firstname}} {{$ctrl.candidate.lastname}}</h1>
						<p>Inscrit(e) depuis le {{$ctrl.candidate.registerDate | date: 'dd/MM/yyyy'}}</p>
					</div>
				</div>
				<div layout="row" layout-align="start center">
					<div class="stats">
						<span>{{$ctrl.candidate.offerLength}}</span> mission(s)
					</div>
					<div class="stats">
						<span>{{$ctrl.candidate.applyOfferLength}}</span> candidature(s)
					</div>
					<div class="stats">
						<span>{{$ctrl.candidate.selectedOfferLength}}</span> sélection(s)
					</div>
				</div>
			</div>
		</div>
		<div class="layout-board-main">
			<div class="layout-board-main-inner">
				<div layout="row" layout-wrap layout-padding class="layout-board-section">
					<div flex="100">
						<h3 class="layout-board-section-title">Informations personnelles</h3>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Sexe</h3>
						<p>{{$ctrl.candidate.sexe}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Adresse</h3>
						<p>{{$ctrl.candidate.fulladdress}}</p>
					</div>
          <div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Date de naissance</h3>
						<p>{{$ctrl.candidate.birthdate | date: 'dd/MM/yyyy'}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Téléphone</h3>
						<p>{{$ctrl.candidate.phone}}</p>
					</div>
          <div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Adresse email</h3>
						<p>{{$ctrl.candidate.mail}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="layout-board-main next" ng-if="$ctrl.candidate.pictures.curriculum">
			<div class="layout-board-main-inner">
				<div layout="row" layout-wrap layout-padding class="layout-board-section">
					<div flex="100">
						<h3 class="layout-board-section-title">CV</h3>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<a ng-click="$ctrl.viewCV($ctrl.candidate.pictures.curriculum.name, $ctrl.candidate.$id)" target="_blank" class="md-raised md-button md-ink-ripple">Télécharger le CV du candidat</a>
					</div>
				</div>
			</div>
		</div>
		<div class="layout-board-main next">
			<div class="layout-board-main-inner">
				<div layout="column" layout-wrap layout-padding class="layout-board-section">
					<div>
						<h3 class="layout-board-section-title">Galerie</h3>
					</div>
					<div class="layout-board-main-cell">
						<div class="layout-board-card-container no-padding">
							<div class="layout-board-card-container-scrollable">
								<div class="candidate-avatar" firebase-storage uid="$ctrl.candidate.$id" bucket-name="userPictures" background="$ctrl.candidate.pictures.portrait.name" ng-click="$ctrl.viewCandidatePicture($event, 0)">
									<div class="candidate-avatar-overlay">
										<md-icon class="material-icons pointer" md-font-set="material-icons">
                							remove_red_eye
            							</md-icon>
									</div>
									<md-tooltip class="layout-board-tooltip" md-direction="bottom">
            							Photo portrait
          							</md-tooltip>
								</div>
								<div class="candidate-avatar" firebase-storage uid="$ctrl.candidate.$id" bucket-name="userPictures" background="$ctrl.candidate.pictures.fullFoot.name" ng-click="$ctrl.viewCandidatePicture($event, 1)">
									<div class="candidate-avatar-overlay">
										<md-icon class="material-icons pointer" md-font-set="material-icons">
                							remove_red_eye
            							</md-icon>
									</div>
									<md-tooltip class="layout-board-tooltip" md-direction="bottom">
            							Photo plein pied
          							</md-tooltip>
								</div>
								<div class="candidate-avatar" firebase-storage uid="$ctrl.candidate.$id" bucket-name="userPictures" background="$ctrl.candidate.pictures.facultativeOne.name" ng-click="$ctrl.viewCandidatePicture($event, 2)" ng-if="$ctrl.candidate.pictures.facultativeOne.name">
									<div class="candidate-avatar-overlay">
										<md-icon class="material-icons pointer" md-font-set="material-icons">
                							remove_red_eye
            							</md-icon>
									</div>
									<md-tooltip class="layout-board-tooltip" md-direction="bottom">
            							Photo facultative #1
          							</md-tooltip>
								</div>
								<div class="candidate-avatar" firebase-storage uid="$ctrl.candidate.$id" bucket-name="userPictures" background="$ctrl.candidate.pictures.facultativeTwo.name" ng-click="$ctrl.viewCandidatePicture($event, 3)" ng-if="$ctrl.candidate.pictures.facultativeTwo.name">
									<div class="candidate-avatar-overlay">
										<md-icon class="material-icons pointer" md-font-set="material-icons">
                							remove_red_eye
            							</md-icon>
									</div>
									<md-tooltip class="layout-board-tooltip" md-direction="bottom">
            							Photo facultative #2
          							</md-tooltip>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layout-board-main next">
			<div class="layout-board-main-inner">
				<div layout="row" layout-wrap layout-padding class="layout-board-section">
					<div flex="100">
						<h3 class="layout-board-section-title">Profil</h3>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Niveau d'étude</h3>
						<p>{{$ctrl.candidate.studyLevel}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Freelance</h3>
						<p ng-if="$ctrl.candidate.freelance">Oui</p>
					    <p ng-if="!$ctrl.candidate.freelance">Non</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Véhiculé</h3>
						<p ng-if="$ctrl.candidate.vehicle">Oui</p>
					    <p ng-if="!$ctrl.candidate.vehicle">Non</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Permis de conduire</h3>
						<p>{{$ctrl.candidate.driver}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Prestation recherchées</h3>
						<ul>
				    		<li ng-repeat="performance in $ctrl.candidate.searchPerformance">
				    			<p>{{performance}}</p>
				    		</li>
				    		<li ng-if="!$ctrl.candidate.searchPerformance">
				    			<p>Aucune prestation</p>
				    		</li>
				    	</ul>
					</div>
					<!-- <div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Mobilité</h3>
						<ul>
				    		<li ng-repeat="mobility in $ctrl.candidate.mobility">
				    			<p>{{mobility}}</p>
				    		</li>
				    		<li ng-if="!$ctrl.candidate.mobility">
				    			<p>Aucune mobilité</p>
				    		</li>
				    	</ul>
					</div> -->
				</div>
			</div>
		</div>
		<div class="layout-board-main next">
			<div class="layout-board-main-inner">
				<div layout="row" layout-wrap layout-padding class="layout-board-section">
					<div flex="100">
						<h3 class="layout-board-section-title">Curriculum Vitae</h3>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Mon niveau</h3>
						<p>{{$ctrl.candidate.missionNumber}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Langues parlées</h3>
						<ul>
				    		<li ng-repeat="language in $ctrl.candidate.languages">
				    			<p>{{language}}</p>
				    		</li>
				    		<li ng-if="!$ctrl.candidate.languages">
				    			<p>Aucun langages</p>
				    		</li>
				    	</ul>
					</div>
					<!-- <div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Talents</h3>
						<ul>
				    		<li ng-repeat="talent in $ctrl.candidate.talents">
				    			<p>{{talent}}</p>
				    		</li>
				    		<li ng-if="!$ctrl.candidate.talents">
				    			<p>Aucun talent</p>
				    		</li>
				    	</ul>
					</div> -->
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Avez-vous déjà été chef hôtesse</h3>
						<p ng-if="$ctrl.candidate.chiefHostess">Oui</p>
					    <p ng-if="!$ctrl.candidate.chiefHostess">Non</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Avez-vous déjà été régisseur</h3>
						<p ng-if="$ctrl.candidate.stageManager">Oui</p>
					    <p ng-if="!$ctrl.candidate.stageManager">Non</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Savoir faire</h3>
						<ul>
				    		<li ng-repeat="skill in $ctrl.candidate.skills">
				    			<p>{{skill}}</p>
				    		</li>
				    		<li ng-if="!$ctrl.candidate.skills">
				    			<p>Aucune compétence</p>
				    		</li>
				    	</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="layout-board-main next">
			<div class="layout-board-main-inner">
				<div layout="row" layout-wrap layout-padding class="layout-board-section">
					<div flex="100">
						<h3 class="layout-board-section-title">Tenue</h3>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Taille</h3>
						<p>{{$ctrl.candidate.height}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Couleur de cheveux</h3>
						<p>{{$ctrl.candidate.hairColor}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Pointure</h3>
						<p>{{$ctrl.candidate.shoeSize}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Confection haut</h3>
						<p>{{$ctrl.candidate.makingUp}}</p>
					</div>
					<div flex="33" flex-xs="100" class="layout-board-main-cell">
						<h3 class="layout-board-title">Confection bas</h3>
						<p>{{$ctrl.candidate.makingLow}}</p>
					</div>
				</div>
			</div>
		</div> -->
    <div class="layout-board-main next">
			<div class="layout-board-main-inner">
				<div layout="row" layout-wrap layout-padding class="layout-board-section">
					<div flex="100">
						<h3 class="layout-board-section-title">Expérience(s)</h3>
					</div>
    			<div layout-gt-sm="row">
    	    <div flex-gt-sm="50" flex-gt-xs="100" flex-gt-lg="33" class="item" ng-repeat="experience in $ctrl.candidate.experiences">
    				<div layout="row">
    						<h5>Expérience {{$index + 1}}</h5>
    				</div>
    				<h3>{{experience.year}}</h3>
    				<div class="item">
    					<h4>Métier</h4>
    					<p>{{experience.metier}}</p>
    					<p ng-if="experience.metierautre">{{experience.metierautre}}</p>
    				</div>
    				<div class="item">
    					<h4>Spécialité</h4>
    					<p>{{experience.specialite}}</p>
    					<p ng-if="experience.specialiteautre">{{experience.specialiteautre}}</p>
    				</div>
    				<div class="item">
    					<h4>Marques</h4>
    					<p ng-repeat="marque in experience.marques">
    						{{marque}}
    					</p>
    					<p ng-if="experience.marqueautre">
    						{{marqueautre}}
    					</p>
    				</div>
    				<div class="item">
    					<h4>Commentaire</h4>
    					<p>{{experience.commentaire}}</p>
    				</div>
    	    </div>
    	    </div>
				</div>
			</div>
		</div>
	</md-content>
</div>
