<div role="dialog" class="panel-inner" aria-label="promoter-panel-list" layout="column">
  	<md-toolbar md-scroll-shrink class="md-primary md-hue-1">
    	<div class="md-toolbar-tools">
			<md-button class="md-icon-button md-accent" ng-click="$ctrl.closePanel()">
            	<md-icon class="material-icons pointer" md-font-set="material-icons">
                	close
            	</md-icon>
        	</md-button>
  			<span>
  				<h2>{{$ctrl.panelTitle}}</h2>
  			</span>
  			<span flex></span>
  			<md-input-container class="toolbar-search" md-no-float class="md-block" ng-class="{active: $ctrl.activeSearch}">
        		<input ng-model="$ctrl.searchOffer" placeholder="Rechercher une offre">
      		</md-input-container>
  			<md-button class="md-icon-button md-accent" ng-click="$ctrl.toggleSearch()">
            	<md-icon class="material-icons pointer" md-font-set="material-icons">
                	search
            	</md-icon>
        	</md-button>
    	</div>
  	</md-toolbar>
  	<md-toolbar class="md-toolbar-filter md-primary md-hue-1" md-scroll-shrink>
  		<div class="md-toolbar-tools">
  			<div flex layout="row" layout-align="start center" class="md-toolbar-filter-scrollbable">
				<md-select ng-model="$ctrl.searchPerformance" placeholder="Type de prestation">
					<md-option value=""></md-option>
					<md-option value="{{profession.name}}" ng-repeat="profession in $ctrl.professions">{{profession.name}}</md-option>
		    </md-select>
				<md-select ng-model="$ctrl.searchDate" placeholder="Par date">
					<md-option value=""></md-option>
					<md-option value="-publishDate">Plus récents</md-option>
					<md-option value="+publishDate">Plus anciens</md-option>
		        </md-select>
				<md-select ng-model="$ctrl.searchDepartment" placeholder="Par départements" multiple>
					<md-option value="{{state.departement_nom}}" ng-repeat="state in $root.filterConfig.state">({{state.departement_code}}) {{state.departement_nom}}</md-option>
		        </md-select>
		    </div>
	        <span flex style="flex: none"></span>
	        <md-button class="md-accent" ng-click="$ctrl.resetFilter()">Réinitialiser</md-button>
    	</div>
  	</md-toolbar>
	<md-content flex class="layout-board">
		<div class="layout-board-main">
			<div flex="100" class="layout-board-main-inner fullwidth">
				<div layout="row" flex="100" layout-align="center center" class="layout-board-card-container" ng-if="!$ctrl.offerReference.$resolved">
					<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="30"></md-progress-circular>
				</div>
				<div layout="row" flex="100" layout-align="center center" class="layout-board-card-container" ng-if="$ctrl.offerReference.$resolved && $ctrl.offers.length <= 0">
					<p>Aucune offre en cours</p>
				</div>
				<div layout="row" flex="100" layout-align="center center" class="layout-board-card-container" ng-if="$ctrl.offerReference.$resolved && result.length <= 0">
					<p>Aucun résultat pour cette recherche</p>
				</div>
				<div class="layout-board-main-grid">
					<div class="layout-board-main-grid-cell" ng-repeat="offer in $ctrl.offers | filter: $ctrl.searchOffer | filter: {searchPerformance: $ctrl.searchPerformance} | filterMultiple:$ctrl.searchDepartment:'department' | orderBy: $ctrl.searchDate as result track by $index">
						<div class="layout-board-card" ng-click="$ctrl.viewOffer(offer)" >
							<div class="layout-board-card-header" layout="row" layout-align="start center">
								<div class="layout-board-card-badge pink" ng-if="offer.admin.newCurrent">Nouveau</div>
								<div class="layout-board-card-badge green" ng-if="offer.admin.newCheckout">Payée</div>
								<div class="layout-board-card-badge green" ng-if="offer.admin.checkPayment && !offer.admin.newCheckout">Paiement validé</div>
								<div class="layout-board-card-badge pink" ng-if="offer.admin.newCurrent">Nouveau</div>
								<div class="layout-board-card-badge grey" ng-if="offer.abort">Abandonnée</div>
							</div>
							<div class="layout-board-card-body" layout="column">
								<h3>{{offer.title}}</h3>
								<span>Publié le {{offer.publishDate | date: 'dd/MM/yyyy à HH:mm:ss'}}</span>
								<p>
									<md-icon class="material-icons pointer" style="{{$root.iconColor.lightGrey}}" md-font-set="material-icons">place</md-icon>
									{{offer.address}}
								</p>
								<p class="layout-board-card-date">{{offer.dates.startDate | date: 'fullDate'}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</md-content>
</div>
