<div layout="column" class="search-bar">
	<md-whiteframe class="md-whiteframe-1dp" layout="row" layout-align="start center">
		<md-input-container class="md-block" flex-gt-sm="50" flex-xs="100" md-no-float>
			<md-icon class="material-icons pointer" md-font-set="material-icons">search</md-icon>
		    <input ng-model="searchQuotation" ng-model-options="{debounce: 500}" type="text" placeholder="Rechercher des devis">
		    <md-icon class="material-icons pointer cancel-search" md-font-set="material-icons" ng-show="searchQuotation"  ng-click="searchQuotation.$rollbackViewValue(); searchQuotation = ''">cancel</md-icon>
		</md-input-container>
		<span flex></span>
	</md-whiteframe>
</div>
<div layout="column" class="list" layout-margin>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="result.length > 0 && $ctrl.quotations.$resolved && $ctrl.quotations.length > 0">
		<p>Vous avez {{filtered.length}} devis qui correspondent à votre recherche</p>
	</div> 
	
	<md-whiteframe class="md-whiteframe-1dp candidate-card quotation-item" ng-class="{checked: quotation.admin.check}" layout="row" layout-padding ng-show="$ctrl.quotations.$resolved" layout-align="start center" ng-repeat="quotation in (filtered = ($ctrl.quotations | filter:searchQuotation)) | orderBy: '-timestamp' | limitTo: $ctrl.limit as result track by $index">
		<div flex="20">
			<h3>{{quotation.$id}}</h3>
			<p>{{quotation.timestamp * 1000 | date:'dd/MM/yyyy HH:mm:ss'}}</p>
		</div>
		<div flex="20" layout-align="center center">
			<h3>{{quotation.agency.name}}</h3>
			<p>{{quotation.agency.contactName}}</p>
			<p>{{quotation.agency.mail}}</p>
			<p>{{quotation.agency.phone}}</p>
		</div>
		<div flex="20">
			<p>{{quotation.city}}</p>
			<p>{{quotation.address}}</p>
		</div>
		<div flex="20">
			<p ng-if="quotation.dates.type !== 'uniq'">{{quotation.dates.startDate | date: 'dd/MM/yyyy'}} au {{quotation.dates.endDate | date: 'dd/MM/yyyy'}}</p>
		    <p ng-if="quotation.dates.type === 'uniq'">{{quotation.dates.startDate | date: 'dd/MM/yyyy'}}</p>
		</div>
		<div flex="10" ng-if="quotation.admin.newCurrent">
			<span class="badge new">Nouveau</span>
		</div>
		<span flex></span>
		<div flex="5" layout="column" layout-align="center end">
			<md-menu md-position-mode="target-right target">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <i class="material-icons">more_vert</i>
                </md-button>
                <md-menu-content width="4" >
                    <md-menu-item>
                        <md-button ng-click="$ctrl.viewQuotation(quotation)">
                            <div layout="row" flex>
                                <p flex>Voir les détails</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="!$ctrl.offer.admin.check">
	                    <md-button ng-click="$ctrl.checkQuotation(quotation)">
	                        <div layout="row" flex>
	                            <p flex>Valider le devis</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	                <md-menu-item>
	                    <md-button ng-href="mailto:{{$ctrl.quotation.agency.mail}}">
	                        <div layout="row" flex>
	                            <p flex>Contacter par email</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	                <md-menu-item>
	                    <md-button ng-href="mailto:{{$ctrl.quotation.agency.phone}}">
	                        <div layout="row" flex>
	                            <p flex>Contacter par téléphone</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
	                <md-menu-item>
	                    <md-button ng-click="$ctrl.removeQuotation(quotation)">
	                        <div layout="row" flex>
	                            <p flex>Supprimer le devis</p>
	                        </div>
	                    </md-button>
	                </md-menu-item>
                </md-menu-content>
            </md-menu>
		</div>
	</md-whiteframe>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="$ctrl.quotations.length <= 0 && $ctrl.quotations.$resolved">
		<p>Vous n’avez pas encore de devis</p>
	</div> 
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="result.length === 0 && $ctrl.quotations.$resolved && $ctrl.quotations.length > 0">
		<p>Aucun résultat trouvé</p>
	</div> 
	<div flex="100" layout="row" layout-align="center center" class="empty-result" ng-if="!$ctrl.quotations.$resolved">
		<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="30"></md-progress-circular>
	</div> 
	<div layout="column" flex="100" class="more-info">
		<div layout="row" layout-align="center center" ng-if="!$ctrl.end && result.length > 0 && $ctrl.quotations.$resolved">
			<md-button ng-click="$ctrl.getMore()" class="md-raised md-accent">Plus de devis</md-button>
		</div>
	</div>
</div>