sidenav {
	md-sidenav {
		box-shadow: 0px -6.29px 11.85px rgba(0, 0, 0, 0.05);
		md-content {
			.user-credential {
				padding: 50px 25px 0 25px;
				position: relative;

				.overlay {
					@include absoluteBlock;
					background-color: rgba(30,30,30,.8);
				}

				.sidebar-credential {
					position: relative;

					.user-profile-picture {
						width: 70px;
						height: 70px;
						border-radius: 100%;
						display: block;
					}

					p {
						color: white;
						font: {
							weight: 600;
						}
					}
				}
			}
			ul {
				li {
					position: relative;

					h5 {
						color: $black;
						opacity: .2;
						padding: 0 25px;
						margin-bottom: 5px;
					}

					a {
						color: $black;
						padding: 20px 25px;
						display: block;
						text-decoration: none;
						opacity: .5;
						transition: all .3 ease;
						position: relative;

						&:after {
							content: '';
							position: absolute;
							left: 0;
							top: 0;
							bottom: 0;
							height: 100%;
							width: 3px;
							background-color: transparent;
						}

						&.active {
							opacity: 1;
							background: linear-gradient(45deg, rgba(252,60,163,.05) 0%, rgba(253,59,107,.05) 100%);

							&:after {
								background-color: $pink;
							}
						}
					}

					span {
						position: absolute;
						width: 24px;
						height: 24px;
						border-radius: 100%;
						color: white;
						text-align: center;
						background-color: #FD3B6D;
						right: 25px;
						top: 0;
						bottom: 0;
						margin: auto;
						line-height: 24px;
						font: {
							weight: 600;
						}
					}
				}
			}
		}
	}
}