<md-sidenav class="md-sidenav-left md-hue-2" flex="30" md-component-id="left" md-whiteframe="4">

    <md-content class="md-hue-2">
        <ul>
        	<li>
        		<h5 class="md-body-1">Général</h5>
        	</li>
        	<li ng-repeat="link in $root.menuByAccess">
        		<a ng-if="link.bloc == 1 && (link.requireFull == 0 || (link.requireFull == 1 && $root.userCredential.fullaccess == 1))" ng-link="link.route" router-active="active">{{link.name}}</a>
        	</li>
        	<li>
        		<h5 class="md-body-1">Ajouter</h5>
        	</li>
          <li ng-repeat="link in $root.menuByAccess">
            <a ng-if="link.bloc == 2 && (link.requireFull == 0 || (link.requireFull == 1 && $root.userCredential.fullaccess == 1))" ng-link="link.route" router-active="active">{{link.name}}</a>
          </li>
        </ul>
    </md-content>
</md-sidenav>
