@mixin absoluteBlock{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin keyframe ($name){
    @keyframes #{$name}{
        @content;
    }
}

/**
 * Breakpoints
 * Responsive properties
 */

@mixin break-medium {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin break-large {
    @media (min-width: 992px) {
        @content;
    } 
}

@mixin break-xlarge {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin break-xxlarge {
    @media (min-width: 1480px) {
        @content;
    }
}