md-toolbar {
	color: white;

	.md-toolbar-tools {
		padding-left: 25px;
	}
	
	.user-credential {
		transition: all .3s ease 1.2s;
		transform: translate3d(0, -10px, 0);
		opacity: 0;
		position: relative;

		&.active {
			transform: translate3d(0, 0, 0);
	        opacity: 1;
		}
	}

	.user-profile-picture {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		margin-left: 15px;
	}
}