$blue-grey: #2F3437;
$pink: #FD3B6D;
$grey: #737373;
$light-grey: #A4A4A4;
$extra-light-grey: #D7D7D7;
$separator-grey: rgba(151,151,151,.1);
$background-grey: #F6F6F6;
$black: #434343;
$green: #86BC29;
$red: #FF6363;
$blue: #4285f4;

$assets: '../../img';