.app-layout {
	margin: 0;

	.app-header {
		background-color: white;

		.title {
			padding: 15px;

			h1 {
				margin: 0 0 10px 0;
				color: $black;
			}

			p {
				margin: 0;
				color: $light-grey;
			}
		}

		.information {
			.candidate-length {
				color: white;
				font: {
					weight: 600;
				}
				height: 25px;
				min-width: 25px;
				text-align: center;
				line-height: 25px;
				border-radius: 40px;
				display: inline-block;
				background-color: $pink;
				padding: 0 5px;
			}

			.badge {
				padding: 10px;
				color: white;
				border-radius: 4px;
				text-transform: uppercase;
				font: {
					weight: 600;
					size: .9em;
				}

				&.green {
					background-color: $green;
				}
			}
		}
	}

	.app-tab-container {
		md-tabs {
			background-color: white;
			overflow: inherit;
			box-shadow: 0px 6.29px 11.85px rgba(0, 0, 0, 0.05);

			md-tab-item {
				span {
					color: rgba(0,0,0,0.7);
					font: {
						weight: 600;
					}

					&.md-caption {
						color: white;
					}
				}
			}
		}
	}

	.app-list-container {
		.search-bar {
			md-whiteframe {
				padding: 15px 15px 15px 20px;
				background-color: white;
				box-shadow: 0px 6.29px 11.85px rgba(0, 0, 0, 0.05);

				md-icon {
					color: $grey;
				}

				md-input-container {
					margin: 0;

					input {
						border: none;
					}

					.md-errors-spacer {
						display: none;
					}

					.cancel-search {
						opacity: .3;
					}
				}
			}
		}

		.filter-bar {

			&.ng-hide-add, &.ng-hide-remove {
				transition: all linear .2s;
			}

			&.ng-hide {
				opacity: 0;
			}

			md-whiteframe {
				background-color: white;
				overflow-x: scroll;

				md-select {
					margin: 0;
					padding-left: 15px;

					.md-select-value {
						border: none;
					}
				}
			}
		}

		.list {
			font: {
				size: .9em;
			}

			h3 {
				color: $black;
				margin: 0;
				text-transform: uppercase;
			}

			p {
				margin: 0;
				color: $grey;
			}

			md-whiteframe {
				background-color: white;
				outline: 0;
				cursor: pointer;
				box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
				border-radius: 4px;

				&.quotation-item {
					border-left: 8px solid $pink;

					&.checked {
						border-color: $green;
					}
				}

				&.invalid {
					box-shadow: 0 1px 8px 0 rgba(253,59,109,0.8),0 1px 1px 0 rgba(253,59,109,0.14),0 2px 1px -1px rgba(253,59,109,0.12) !important;
				}

				.badge {

					&.new {
						background-color: $pink;
						padding: 4px 10px;
						color: white;
						border-radius: 4px;
						font: {
							weight: 600;
						}
					}

					span {
						display: block;
					    height: 24px;
					    width: 24px;
					    border-radius: 35px;
					    color: white;
					    text-align: center;
					    background-color: $pink;
					    line-height: 24px;
						font: {
							weight: 600;
							size: .9em;
						}
						margin-right: 5px;
					}
				}
			}

			.more-info {
				padding: 30px 0;

				.md-button {
					margin: 20px 0;
					padding: 0 50px;
				}
			}

			.empty-result {
				color: $light-grey;
				padding: 25px 0;
			}
		}
	}
}

md-dialog {
	&.preview {
		md-toolbar {
			h4 {
				font: {
					weight: 400;
				}
			}

			.register-date {
				opacity: .7;
				font: {
					size: .7em;
				}
				margin-left: 20px;
				display: none;

				@include break-medium {
					display: block;
				}
			}

			.stats {
				font: {
					size: .8em;
				}
				padding-left: 20px;

				span {
					color: white;
					font: {
						weight: 600;
					}
					height: 25px;
					min-width: 25px;
					text-align: center;
					line-height: 25px;
					border-radius: 40px;
					display: inline-block;
					background-color: $pink;
					padding: 0 5px;
				}
			}

			.badge {
				background-color: $pink;
				color: white;
				padding: 10px 20px;
				border-radius: 4px;
				font: {
					size: .8em;
				}
				margin-left: 10px;

				&.green {
					background-color: $green;
				}
			}
		}
		.md-dialog-content {
    		padding: 10px 0;
		}
	}
}

.profile-section {
	background-color: white;
	position: relative;
	border-radius: 4px;
	padding: 15px;

	.edition {
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;
	}

	.avatar {
		height: 128px;
		width: 128px;
		background-color: white;
		border-radius: 100%;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
		position: relative;
		margin-right: 0;
		margin-bottom: 10px;

		@include break-medium {
			margin-right: 35px;
			margin-bottom: 0;
		}

		.avatar-picture {
			@include absoluteBlock;
			width: 85%;
			height: 85%;
			margin: auto;
			border-radius: 100%;
			background-color: $black;
		}
	}

	h1 {
		font: {
			weight: 100;
		}
		margin: 0;
		margin-bottom: 5px;
	}

	h4 {
		font: {
			weight: 400;
		}
		margin: 0;
		margin-bottom: 5px;
	}

	h5 {
		color: $pink;
		text-transform: uppercase;
	}

	p {
		margin: 0;
		margin-bottom: 5px;
		color: $light-grey;
	}

	.item {
		margin-bottom: 35px;
	}
}

.user-picture {
	background-color: $black;
	height: 200px;
	border-radius: 6px;
	outline: 0;
	cursor: pointer;
	position: relative;

	&.slideshow {
		.overlay {
			opacity: 1;
		}
	}

	&:hover {
		.overlay {
			opacity: 1;
		}
	}

	.overlay {
		transition: all .2s ease;
		@include absoluteBlock;
		background-color: rgba(30,30,30,.5);
		margin: 0;
		opacity: 0;
		border-radius: 6px;

		h4 {
			color: white;
			margin-bottom: 5px;
		}
	}
}

md-dialog {

	md-toolbar {
		.md-toolbar-tools {

			h2 {
				font: {
					size: .85em;
				}
			}

			.md-button {
				padding: 0 10px;
				span {
					color: white;
				}

				&[disabled] {
					color: white;
					opacity: .5;
				}
			}
		}
	}

	h5 {
		margin-top: 0;
		margin-bottom: 25px;
		color: $pink;
	}

	.picture-preview {
		height: 150px;
		width: 90%;
		margin: 25px 8px;
		border-radius: 6px;
		position: relative;

		md-icon {
			cursor: pointer;
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}

	.delete-container {
		margin-bottom: 35px;
	}

	&.slideshow {
		background-color: rgba(30,30,30,.95);

		.close {
			position: absolute;
		    left: 10px;
		    top: 10px;
		    z-index: 9999;
		}

		.slideshow-container {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: transparent;

			.swiper-container {
			    width: 100%;
			    height: 100%;
			    margin-left: auto;
			    margin-right: auto;
			}
			.swiper-slide {
			    img {
					position: absolute;
					display: block;
					max-width: 100%;
					max-height: 100%;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
				}
			}

			.swiper-next, .swiper-prev {
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;

				.material-icon {

				}
			}

			.swiper-next {
				right: 30px;
			}

			.swiper-prev {
				left: 30px;
			}
		}
	}
}

.badge-wave {
    min-width: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    text-align: center;
    background-color: $pink;
    line-height: 1;
	font: {
		weight: bold;
	}
	white-space: nowrap;
	margin-left: 10px;
	position: relative;

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		content: '';
		background-color: $pink;
		z-index: -1;
		pointer-events: none;
		opacity: 0;
		animation: sonarWave 1s linear infinite;
	}
}
.play_video{
	background: #fff url(#{$assets}/play_icone.jpeg) no-repeat center center / contain;
	border:1px solid #1E1E1E;
	background-color: #fff !important;
}
@keyframes sonarWave {
  	from {
    	opacity: 0.5;
  	}
  	to {
    	transform: scale(1.5);
    	opacity: 0;
  	}
}
