<div layout="column" class="search-bar">
	<md-whiteframe class="md-whiteframe-1dp" layout="row" layout-align="start center">
		<md-input-container class="md-block" flex-gt-sm="50" flex-xs="100" md-no-float>
			<md-icon class="material-icons pointer" md-font-set="material-icons">search</md-icon>
		    <input ng-model="searchCandidate" ng-model-options="{debounce: 500}" type="text" placeholder="Rechercher des candidats">
		    <md-icon class="material-icons pointer cancel-search" md-font-set="material-icons" ng-show="searchCandidate"  ng-click="searchCandidate.$rollbackViewValue(); searchCandidate = ''">cancel</md-icon>
		</md-input-container>
		<span flex></span>
		<md-button class="md-accent md-raised" ng-click="$ctrl.toggleFilter()">Filtres</md-button>
		<md-button class="md-accent md-raised" ng-click="$ctrl.resetFilter()">Réinitialiser</md-button>
	</md-whiteframe>
</div>
<div layout="column" class="filter-bar" ng-show="$ctrl.isFilterOpen">
	<md-whiteframe class="md-whiteframe-1dp md-padding" layout="row" layout-align="start center">
		<div flex layout="row">
			<div class="filter-column">
				<md-select ng-model="$ctrl.searchSexe" placeholder="Sexe">
					<md-option value=""></md-option>
					<md-option ng-value="sexe.value" ng-repeat="sexe in $root.filterConfig.sexe">{{sexe.name}}</md-option>
		        </md-select>
		    </div>
		    <div class="filter-column">
				<md-select ng-model="$ctrl.searchVehicle" placeholder="Véhiculé">
					<md-option value=""></md-option>
					<md-option ng-value="vehicle.value" ng-repeat="vehicle in $root.filterConfig.vehicle">{{vehicle.name}}</md-option>
		        </md-select>
		    </div>
		    <div class="filter-column">
				<md-select ng-model="$ctrl.searchActive" placeholder="Actif">
					<md-option value=""></md-option>
					<md-option ng-value="active.value" ng-repeat="active in $root.filterConfig.active">{{active.name}}</md-option>
		        </md-select>
		    </div>
		    <div class="filter-column">
				<md-select ng-model="$ctrl.searchValidate" placeholder="Conforme">
					<md-option value=""></md-option>
					<md-option ng-value="validate.value" ng-repeat="validate in $root.filterConfig.validate">{{validate.name}}</md-option>
		        </md-select>
		    </div>
		    <div class="filter-column">
				<md-select ng-model="$ctrl.searchLanguage" placeholder="Langages" multiple>
					<md-option ng-value="language.value" ng-repeat="language in $root.filterConfig.languages">{{language.name}}</md-option>
		        </md-select>
		    </div>
				<div class="filter-column">
					<md-select ng-model="$ctrl.searchDispo" placeholder="Disponible dernière minute">
						<md-option value=""></md-option>
						<md-option ng-value="dispo.value" ng-repeat="dispo in $root.filterConfig.dispoDerniereMinute">{{dispo.name}}</md-option>
					</md-select>
				</div>
				<div class="filter-column">
					<md-select ng-model="$ctrl.searchPerformance" placeholder="Prestation" multiple>
						<md-option ng-value="profession.name" ng-repeat="profession in $ctrl.parent.professions">{{profession.name}}</md-option>
					</md-select>
				</div>
				<div class="filter-column">
					<md-select ng-model="$ctrl.searchSpecialite" placeholder="Spécialité" multiple>
						<md-option ng-value="specialite.name" ng-repeat="specialite in $ctrl.parent.specialites">{{specialite.name}}</md-option>
					</md-select>
				</div>
				<div class="filter-column">
					<md-select ng-model="$ctrl.searchMarque" placeholder="Marque" multiple>
						<md-option ng-value="marque.name" ng-repeat="marque in $ctrl.parent.marques">{{marque.name}}</md-option>
					</md-select>
				</div>
	        <div class="filter-column">
				<md-select ng-model="$ctrl.searchDepartment" placeholder="Par départements" multiple>
					<md-option ng-value="state.departement_nom" ng-repeat="state in $root.filterConfig.state">({{state.departement_code}}) {{state.departement_nom}}</md-option>
		        </md-select>
	        </div>
	    </div>
	</md-whiteframe>
</div>
<div layout="column" class="list" layout-margin>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="result.length > 0 && $ctrl.candidatesReference.$resolved && $ctrl.candidates.length > 0">
		<p>Vous avez {{filtered.length}} candidats qui correspondent à votre recherche</p>
	</div>
	<md-whiteframe class="md-whiteframe-1dp candidate-card" layout="row" ng-class="{invalid: !candidate.validate}" layout-padding ng-show="$ctrl.candidatesReference.$resolved" layout-align="start center" ng-repeat="candidate in (filtered = ($ctrl.candidates | filter:searchCandidate | filter:{sexe: $ctrl.searchSexe, vehicle: $ctrl.searchVehicle, active: $ctrl.searchActive, validate: $ctrl.searchValidate, dispoDerniereMinute: $ctrl.searchDispo} | filterMultiple:$ctrl.searchLanguage:'languages' | filterMultiple:$ctrl.searchDepartment:'mobility' | filterMultiple:$ctrl.searchPerformance:'searchPerformance' | filterMultiple:$ctrl.searchSpecialite:'specialites'| filterMultiple:$ctrl.searchMarque:'marques')) | orderBy: '-registerDate' | limitTo: $ctrl.limit as result track by $index">
		<div flex="10">
			<p>{{candidate.registerDate | date:'dd/MM/yyyy HH:mm:ss' : 'UTC'}}</p>
		</div>
		<div flex="10">
			<p>{{candidate.sexe}}</p>
		</div>
		<div flex="20" layout-align="center center">
			<h3>{{candidate.lastname}}</h3>
			<p>{{candidate.firstname}}</p>
		</div>
		<div flex="25">
			<p>{{candidate.mail}}</p>
			<p>{{candidate.phone}}</p>
		</div>
		<div flex="10" layout-align="center end">
			<p ng-if="candidate.vehicle">Véhiculé</p>
			<p ng-if="!candidate.vehicle">Non véhiculé</p>
		</div>
		<div flex="15" layout-align="center end">
			<p>{{candidate.zip}}</p>
		</div>
		<div flex="5" layout-align="center end">
			<md-switch ng-model="candidate.active" ng-change="$ctrl.parent.toggleActive(candidate.$id)" aria-label="Valider le candidat"></md-switch>
		</div>
		<div flex="5" layout-align="center end">
			<md-menu md-position-mode="target-right target">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <i class="material-icons">more_vert</i>
                </md-button>
                <md-menu-content width="4" >
                    <md-menu-item>
                        <md-button ng-click="$ctrl.parent.viewCandidateProfile(candidate)" aria-label="view candidate">
                            <div layout="row" flex>
                                <p flex>Voir le profil</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-href="mailto:{{candidate.mail}}" aria-label="send mail">
                            <div layout="row" flex>
                                <p flex>Envoyer un email</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-href="tel:{{candidate.phone}}" aria-label="call">
                            <div layout="row" flex>
                                <p flex>Contacter par téléphone</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.parent.enableAccount(candidate.$id)" aria-label="disable account">
                            <div layout="row" flex>
                                <p flex>Activer le compte</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
		</div>
	</md-whiteframe>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="$ctrl.candidates.length <= 0 && $ctrl.candidatesReference.$resolved">
		<p>Vous n’avez pas encore de candidat</p>
	</div>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="result.length === 0 && $ctrl.candidatesReference.$resolved && $ctrl.candidates.length > 0">
		<p>Aucun résultat trouvé</p>
	</div>
	<div flex="100" layout="row" layout-align="center center" class="empty-result" ng-if="!$ctrl.candidatesReference.$resolved">
		<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="30"></md-progress-circular>
	</div>
	<div layout="column" flex="100" class="more-info">
		<md-divider ng-if="!$ctrl.end && result.length >= $ctrl.limit && $ctrl.candidatesReference.$resolved"></md-divider>
		<div layout="row" layout-align="center center" ng-if="candidate.loadMore">
			<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="30"></md-progress-circular >
		</div>
		<div layout="row" layout-align="center center" ng-if="!$ctrl.loadMore && !$ctrl.end && result.length >= $ctrl.limit && $ctrl.candidatesReference.$resolved">
			<md-button ng-click="$ctrl.getMore()" class="md-raised">Plus de candidats</md-button>
		</div>
	</div>
</div>
