<md-content layout="column" class="app-layout">
    <div layout="row" class="app-header" hide-xs layout-padding>
        <div flex layout="column" class="title">
            <h1 class="md-display-1">Mes candidats</h1>
            <p>Visualiser et manager vos candidats</p>
        </div>
        <span flex></span>
        <div flex layout="column" class="information" layout-align="start end">
            <p>Vous avez <span class="candidate-length">{{$ctrl.candidatesLength}}</span> candidat(s)</p>
        </div>
    </div>
    <div layout="column" class="app-tab-container">
        <md-tabs md-dynamic-height md-disable-animation md-swipe-content md-enable-disconnect md-disable-animation md-selected="$ctrl.selectedTabIndex">
            <md-tab ng-repeat="tab in $ctrl.routerTabConfig" md-on-select="$ctrl.routerTab(tab.router)">
            	<md-tab-label>{{tab.label}}</md-tab-label>
            </md-tab>
        </md-tabs>
        <ng-outlet class="app-list-container"></ng-outlet>
    </div>
</md-content>