<md-dialog class="fullscreen-dialog preview">
	<md-toolbar class="md-primary md-hue-1">
		<div class="md-toolbar-tools">
			<h4>Profil de {{candidate.firstname}} {{candidate.lastname}}</h4>
			<p class="register-date">Inscrit depuis le {{candidate.registerDate | date: 'dd/MM/yyyy à HH:mm:ss':'UTC'}}</p>
			<span flex></span>
			<div ng-if="candidate.validateType">
				<!-- <md-button class="md-accent md-raised bold" ng-if="candidate.validateType.picture" ng-click="$ctrl.setInvalidAccount(candidate.$id, 'invalid-picture')">
					Photo non conforme
				</md-button> -->
				<md-button class="md-accent md-raised green bold" ng-if="!candidate.validateType.picture" ng-click="setValidAccount(candidate.$id, 'invalid-picture')">
					photo conforme
				</md-button>
				<!-- <md-button class="md-accent md-raised bold" ng-if="candidate.validateType.experience" ng-click="$ctrl.setInvalidAccount(candidate.$id, 'invalid-experience')">
					Experience non conforme
				</md-button> -->
				<md-button class="md-accent md-raised green bold" ng-if="!candidate.validateType.experience" ng-click="setValidAccount(candidate.$id, 'invalid-experience')">
					Experience conforme
				</md-button>
			</div>
			<div ng-if="!candidate.validateType">
				<md-button class="md-accent md-raised bold" ng-if="candidate.validate" ng-click="setInvalidAccount(candidate.$id, 'invalid-picture')">
					Compte non conforme
				</md-button>
				<md-button class="md-accent md-raised green bold" ng-if="!candidate.validate" ng-click="setValidAccount(candidate.$id, 'invalid-picture')">
					Compte conforme
				</md-button>
			</div>
	        <md-button class="md-icon-button" ng-click="$root.closeDialog()">
	            <md-icon class="material-icons pointer" md-font-set="material-icons">
	                close
	            </md-icon>
	        </md-button>
	    </div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content" layout="column" layout-margin>
			<md-whiteframe class="md-whiteframe-1dp md-padding profile-section" flex layout="column" layout-gt-sm="row" layout-align="center center" layout-align-gt-sm="left center">
			    <div class="avatar">
			    	<div class="avatar-picture" firebase-storage uid="candidate.$id" bucket-name="userPictures" background="candidate.pictures.portrait.name"></div>
			    </div>
			    <div layout="column" layout-align="center center" layout-align-gt-sm="left">
			    	{{candidate.$id}}
				    <h1>{{candidate.firstname}} {{candidate.lastname}}</h1>
				    <div ng-if="!editActive">
						<p ng-if="candidate.address_lat && candidate.address_lng">
							<a ng-href='https://www.google.com/maps/place/{{candidate.address_lat}},{{candidate.address_lng}}/@{{candidate.address_lat}},{{candidate.address_lng}},12z' target="_blank">{{candidate.fulladdress}}</a>
							<md-button ng-click="toggleActive()" aria-label="edit marque">
								<md-icon class="material-icons pointer edit" md-font-set="material-icons" title="Modifier">edit</md-icon>
							</md-button>
						</p>
						<p ng-if="!candidate.address_lat || !candidate.address_lng">
							{{candidate.fulladdress}}
							<md-button ng-click="toggleActive()" aria-label="edit marque">
								<md-icon class="material-icons pointer edit" md-font-set="material-icons" title="Modifier">edit</md-icon>
							</md-button>
						</p>
					</div>
					<div ng-if="editActive">
						<input ng-model="candidate.fulladdress" style="width:400px" placeholder="" name="fulladdress" details="chosenPlaceDetails" type="text" required id="googleplace">
						<md-button ng-click="validUpdateAdresse()" aria-label="edit marque">
							<md-icon class="material-icons pointer edit" md-font-set="material-icons" title="Enregistrer">save</md-icon>
						</md-button>
					</div>
				    <p>{{candidate.mail}}</p>
				    <p>{{candidate.phone}}</p>
				    <p get-age="{{candidate.birthdate}}" ng-transclude></p>
				</div>
			</md-whiteframe>
			<md-whiteframe class="md-whiteframe-1dp md-padding profile-section" flex layout-align="left center" ng-if="candidate.pictures.curriculum">
				<h5>CV</h5>
				<div layout-gt-sm="row">
				    <div flex-gt-sm="50">
						<div flex="33" flex-xs="100" class="layout-board-main-cell">
							<a ng-click="viewCV(candidate.pictures.curriculum.name, candidate.$id)" target="_blank" class="md-raised md-button md-ink-ripple">Télécharger le CV du candidat</a>
						</div>
					</div>
				</div>
			</md-whiteframe>
			<md-whiteframe class="md-whiteframe-1dp md-padding profile-section" flex layout-align="left center">
			    <h5>Galerie</h5>
			    <div layout-gt-sm="row">
			    	<div layout-margin class="user-picture" flex-gt-xs="50" flex-gt-sm="20" flex-gt-lg="15" firebase-storage uid="candidate.$id" bucket-name="userPictures" background="candidate.pictures.portrait.name" ng-click="viewCandidatePicture($event, 0)">
			    		<div class="overlay" layout="row" layout-align="center center">
			    			<md-icon class="material-icons pointer" style="{{$root.iconColor.white}}" md-font-set="material-icons">
						    	remove_red_eye
						    </md-icon>
			    		</div>
			    	</div>
			    	<!-- <div layout-margin class="user-picture" flex-gt-xs="50" flex-gt-sm="20" flex-gt-lg="15" firebase-storage uid="candidate.$id" bucket-name="userPictures" background="candidate.pictures.fullFoot.name" ng-click="$ctrl.viewCandidatePicture($event, 1)">
			    		<div class="overlay" layout="row" layout-align="center center">
			    			<md-icon class="material-icons pointer" style="{{$root.iconColor.white}}" md-font-set="material-icons">
						    	remove_red_eye
						    </md-icon>
			    		</div>
			    	</div> -->
			    	<div ng-if="candidate.pictures.facultativeOne" layout-margin class="user-picture" flex-gt-xs="50" flex-gt-sm="20" flex-gt-lg="15" firebase-storage uid="candidate.$id" bucket-name="userPictures" background="candidate.pictures.facultativeOne.name" ng-click="viewCandidatePicture($event, 2)">
			    		<div class="overlay" layout="row" layout-align="center center">
			    			<md-icon class="material-icons pointer" style="{{$root.iconColor.white}}" md-font-set="material-icons">
						    	remove_red_eye
						    </md-icon>
			    		</div>
			    	</div>
			    	<div ng-if="candidate.pictures.facultativeTwo" layout-margin class="user-picture" flex-gt-xs="50" flex-gt-sm="20" flex-gt-lg="15" firebase-storage uid="candidate.$id" bucket-name="userPictures" background="candidate.pictures.facultativeTwo.name" ng-click="viewCandidatePicture($event, 3)">
			    		<div class="overlay" layout="row" layout-align="center center">
			    			<md-icon class="material-icons pointer" style="{{$root.iconColor.white}}" md-font-set="material-icons">
						    	remove_red_eye
						    </md-icon>
			    		</div>
			    	</div>
						<div ng-if="candidate.pictures.videoUser" layout-margin class="user-picture play_video" flex-gt-xs="50" flex-gt-sm="20" flex-gt-lg="15" ftype="image" firebase-storage uid="$root.candidate.id" bucket-name="userPictures"  ng-click="viewCandidatePicture($event, 4)">
			    		<div class="overlay" layout="row" layout-align="center center">
			    			<md-icon class="material-icons pointer" style="{{$root.iconColor.white}}" md-font-set="material-icons">
						    	remove_red_eye
						    </md-icon>
			    		</div>
			    	</div>
			    </div>
			</md-whiteframe>
			<md-whiteframe class="md-whiteframe-1dp md-padding profile-section" flex layout-align="left center">
				<h5>Mon profil</h5>
				<div layout-gt-sm="row">
				    <div flex-gt-sm="50">
				    	<div class="item">
					    	<h4>Niveau d'étude</h4>
					    	<p>{{candidate.studyLevel}}</p>
					    </div>
					    <div class="item">
					    	<h4>Poste recherché</h4>
					    	<ul>
					    		<li ng-repeat="performance in candidate.searchPerformance">
					    			<p>{{performance}}</p>
					    		</li>
					    	</ul>
					    </div>
					    <div class="item">
					    	<h4>Freelance</h4>
					    	<p ng-if="candidate.freelance">Oui</p>
					    	<p ng-if="!candidate.freelance">Non</p>
					    </div>
							<div class="item">
					    	<h4>Disponible pour une mission de dernière minute :</h4>
					    	<p ng-if="candidate.dispoDerniereMinute">Oui</p>
					    	<p ng-if="!candidate.dispoDerniereMinute">Non</p>
					    </div>
				   	</div>
				   	<div flex-gt-sm="50">
				   		<div class="item">
					    	<h4>Permis de conduire</h4>
					    	<p>{{candidate.driver}}</p>
					    </div>
					    <div class="item">
					    	<h4>Véhiculé</h4>
					    	<p ng-if="candidate.vehicle">Oui</p>
					    	<p ng-if="!candidate.vehicle">Non</p>
					    </div>
							<div class="item">
					    	<h4>Spécialités</h4>
					    	<ul>
					    		<li ng-if="candidate.specialites.length <= 0">
					    			<p>Aucune prestation</p>
					    		</li>
					    		<li ng-repeat="specialite in candidate.specialites">
					    			<p>{{specialite}}</p>
					    		</li>
					    	</ul>
					    </div>
					    <!-- <div class="item">
					    	<h4>Mobilité</h4>
					    	<ul>
					    		<li ng-repeat="mobility in candidate.mobility">
					    			<p>{{mobility}}</p>
					    		</li>
					    	</ul>
					    </div> -->
				   	</div>
				</div>
			</md-whiteframe>
			<md-whiteframe class="md-whiteframe-1dp md-padding profile-section" flex layout-align="left center">
			    <h5>Mon CV en bref</h5>
			    <div layout-gt-sm="row">
				    <div flex-gt-sm="50">
					    <div class="item">
					    	<h4>Mon niveau</h4>
					    	<p>{{candidate.missionNumber}}</p>
					    </div>
					    <div class="item">
					    	<h4>Langues parlées</h4>
					    	<ul>
					    		<li ng-repeat="language in candidate.languages">
					    			<p>{{language}}</p>
					    		</li>
					    	</ul>
					    </div>
					    <!-- <div class="item">
					    	<h4>Talents</h4>
					    	<ul>
					    		<li ng-repeat="talent in candidate.talents">
					    			<p>{{talent}}</p>
					    		</li>
					    		<li ng-if="!candidate.talents">
					    			<p>Aucun talent</p>
					    		</li>
					    	</ul>
					    </div> -->
					</div>
					<div flex-gt-sm="50">
						<div class="item">
				    	<h4>Type de contrat</h4>
							<ul>
				    		<li ng-if="candidate.contratType.length <= 0">
				    			<p>Aucune prestation</p>
				    		</li>
				    		<li ng-repeat="contratType in candidate.contratType">
				    			<p>{{contratType}}</p>
				    		</li>
				    	</ul>
				    </div>
					    <!-- <div class="item">
					    	<h4>Avez-vous déjà été chef hôtesse</h4>
					    	<p ng-if="candidate.chiefHostess">Oui</p>
					    	<p ng-if="!candidate.chiefHostess">Non</p>
					    </div>
					    <div class="item">
					    	<h4>Avez-vous déjà été régisseur</h4>
					    	<p ng-if="candidate.stageManager">Oui</p>
					    	<p ng-if="!candidate.stageManager">Non</p>
					    </div> -->
					    <!-- <div class="item">
					    	<h4>Métiers</h4>
					    	<ul>
					    		<li ng-if="candidate.skills.length <= 0">Aucune compétence</li>
					    		<li ng-repeat="skill in candidate.skills">
					    			<p>{{skill}}</p>
					    		</li>
					    	</ul>
					    </div> -->
							<!-- <div class="item">
					    	<h4>Spécialités</h4>
					    	<ul>
					    		<li ng-if="candidate.skillsSpecialites.length <= 0">Pas de spécialité</li>
					    		<li ng-repeat="skillSpecialites in candidate.skillsSpecialites">
					    			<p>{{skillSpecialites}}</p>
					    		</li>
					    	</ul>
					    </div> -->
					    <div class="item">
					    	<h4>Marques</h4>
					    	<ul>
					    		<li ng-if="candidate.marques.length <= 0">Pas de marques</li>
					    		<li ng-repeat="marque in candidate.marques">
					    			<p>{{marque}}</p>
					    		</li>
					    	</ul>
					    </div>
					</div>
				</div>
			</md-whiteframe>
			<!-- <md-whiteframe class="md-whiteframe-1dp md-padding profile-section" flex layout-align="left center">
			    <h5>Tenue</h5>
			    <div layout-gt-sm="row">
				    <div flex-gt-sm="50">
					    <div class="item">
					    	<h4>Taille</h4>
					    	<p>{{candidate.height}}</p>
					    </div>
					    <div class="item">
					    	<h4>Couleur de cheveux</h4>
					    	<p>{{candidate.hairColor}}</p>
					    </div>
					    <div class="item">
					    	<h4>Pointure</h4>
					    	<p>{{candidate.shoeSize}}</p>
					    </div>
					</div>
					<div flex-gt-sm="50">
					    <div class="item">
					    	<h4>Confection haut</h4>
					    	<p>{{candidate.makingUp}}</p>
					    </div>
					    <div class="item">
					    	<h4>Confection bas</h4>
					    	<p>{{candidate.makingLow}}</p>
					    </div>
					</div>
				</div>
			</md-whiteframe> -->
			<md-whiteframe class="md-whiteframe-1dp md-padding profile-section" flex layout-align="left center">
			    <h5>Mes expériences</h5>
			    <div class="item" ng-repeat="experience in candidate.experiences">
			    	<!-- <h4>{{experience.performance}}</h4>
			    	<p>{{experience.company}}, {{experience.year}}</p> -->
						<div layout="row">
								<h5>Expérience {{$index + 1}}</h5>
						</div>
						<h3>{{experience.year}}</h3>
						<div class="item">
							<h4>Métier</h4>
							<p>{{experience.metier}}</p>
							<p ng-if="experience.metierautre">{{experience.metierautre}}</p>
						</div>
						<div class="item">
							<h4>Spécialité</h4>
							<p>{{experience.specialite}}</p>
							<p ng-if="experience.specialiteautre">{{experience.specialiteautre}}</p>
						</div>
						<div class="item">
							<h4>Marques</h4>
							<p ng-repeat="marque in experience.marques">
								{{marque}}
							</p>
							<p ng-if="experience.marqueautre">
								{{marqueautre}}
							</p>
						</div>
						<div class="item">
							<h4>Commentaire</h4>
							<p>{{experience.commentaire}}</p>
						</div>
			    </div>
			</md-whiteframe>
		</div>
	</md-dialog-content>
</md-dialog>
