<md-dialog class="fullscreen-dialog slideshow">
    <md-button class="md-icon-button close" ng-click="$root.closeDialog()">
        <md-icon class="material-icons pointer" style="{{$root.iconColor.white}}" md-font-set="material-icons">
            arrow_back
        </md-icon>
    </md-button>
    <div class="slideshow-container">
	    <swiper next-button="true" prev-button="true" uid="$ctrl.candidate.$id" pictures="$ctrl.candidate.pictures" selected="$ctrl.selectedPictureIndex"></swiper>
	</div>
</md-dialog>