<md-toolbar layout="row" class="md-primary md-hue-1">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="$root.sidebarToggle()">
            <i class="material-icons">menu</i>
        </md-button>
        <h2>
            <span>Interface d'administration</span>
        </h2>
        <span flex></span>
        <div class="user-credential" ng-class="{'active': !$root.isLoad}" layout-align="center center" layout="row" hide-xs>
            <span class="md-body-1">Bonjour, {{$root.userCredential.name}}</span>
            <span class="user-profile-picture" ng-style="{'background': 'url(' + $root.assets + 'header-signup-overlay.jpg) no-repeat center center / cover'}"></span>
        </div>
        <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <i class="material-icons">more_vert</i>
            </md-button>
            <md-menu-content width="4" >
                <md-menu-item>
                    <md-button ng-click="$ctrl.signOut()">
                        <div layout="row" flex>
                            <p flex>Se déconnecter</p>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>