loader {
	.loader-container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
		background-color: $blue-grey;
		opacity: 1;

		&.ng-hide-add, &.ng-hide-remove {
		  transition: all .3s ease;
		}

		&.ng-hide-add-active,
		&.ng-hide-remove-active {
		  transition: opacity .3s ease;
		}

		&.ng-hide {
			opacity: 0;
		}
	}
}