<div layout="column" layout-sm="column" layout-align="center center" layout-fill ng-show="$root.isLoad" class="loader-container">
    <md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="60"></md-progress-circular>
</div>