signin {
	margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    .signin-container {
		color: white;
		background: #1E1E1E url(#{$assets}/sign-background-overlay.jpg) no-repeat center center / cover;
			
		.overlay {
			@include absoluteBlock;
			background-color: rgba(30,30,30,.8);
		}

		form {
			text-align: center;
			padding: 25px 0;

			h1 {
				margin-bottom: 5px;
			}

			.text-opacity {
				opacity: .7;
			}

			md-whiteframe {
				background-color: white;
				color: $black;
				padding: 25px;
				text-align: right;
				margin: 15px 0;
				border-radius: 6px;

				md-input-container {
					margin: 10px 0;
					padding-right: 0;

					.show-password {
						background: url(#{$assets}/icons/ic_visibility_24px.svg) no-repeat center center;
					    display: block;
					    height: 24px;
					    position: absolute;
					    right: 0;
					    top: 5px;
					    width: 24px;
					    transition: all .3s ease;
					    opacity: .5;

					    &:hover {
					    	opacity: 1;
					    }
					}
				}
			}
		}


		p {
			margin: 5px 0;

			a {
				color: $pink;
				cursor: pointer;
				font: {
					weight: 600;
				}
			}
		}
	}
}