<md-content flex class="signin-container" layout="row" layout-align="center center">
    <div flex-gt-md="33" flex-gt-sm="40" flex-xs="90">
        <form name="signInForm" no-validate ng-submit="$ctrl.signIn()" layout="column">
            <h1 class="md-display-1">Bonjour</h1>
            <p class="text-opacity">Bienvenue sur l'interface d'administration.</p>
            <md-whiteframe class="md-whiteframe-1dp">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input ng-model="$ctrl.signInform.mail" type="email" name="mail" required>
                    <div ng-messages="signInForm.mail.$error" ng-show="signInForm.mail.$touched && signInForm.mail.$invalid">
                        <div ng-message="required">Ce champ est requis</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Mot de passe</label>
                    <input ng-model="$ctrl.signInform.password" ng-minlength="6" name="password" type="{{$ctrl.inputType}}" required>
                    <a href="" ng-click="$ctrl.showPassword()" class="show-password"></a>
                    <div ng-messages="signInForm.password.$error" ng-show="signInForm.password.$touched && signInForm.password.$invalid">
                        <div ng-message="required">Ce champ est requis</div>
                        <div ng-message="minlength">Le mot de passe doit faire au moins 6 caractères</div>
                    </div>
                </md-input-container>
                <div layout="column">
                    <md-button class="md-raised md-accent" type="submit" ng-disabled="signInForm.$invalid">Se connecter</md-button>
                </div>
            </md-whiteframe>
        </form>
    </div>
</md-content>