<div class="swiper-container">
	<div class="swiper-wrapper">
        <div class="swiper-slide">
        	<img firebase-storage uid="uid" bucket-name="userPictures" ftype="image" image="pictures.portrait.name" opacity="true" md-whiteframe="4">
        </div>
        <div class="swiper-slide">
        	<img firebase-storage uid="uid" bucket-name="userPictures" ftype="image" image="pictures.fullFoot.name" opacity="true" md-whiteframe="4">
        </div>
        <div ng-if="pictures.facultativeOne" class="swiper-slide">
        	<img firebase-storage uid="uid" bucket-name="userPictures" ftype="image" image="pictures.facultativeOne.name" opacity="true" md-whiteframe="4">
        </div>
        <div ng-if="pictures.facultativeTwo" class="swiper-slide">
        	<img firebase-storage uid="uid" bucket-name="userPictures" ftype="image" image="pictures.facultativeTwo.name" opacity="true" md-whiteframe="4">
        </div>
				<<div ng-if="pictures.videoUser" class="swiper-slide"  layout="column" layout-align="center center">
            <div firebase-storage uid="uid" bucket-name="userPictures" ftype="video" video="pictures.videoUser.name">
							<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="50"></md-progress-circular>
						</div>
        </div>
    </div>
    <div ng-if="nextButton" class="swiper-button-next"></div>
    <div ng-if="prevButton" class="swiper-button-prev"></div>
</div>
