.fullscreen-dialog {
	&.agency-profile {
		md-dialog-content {	

			md-tabs {
				box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
			}	

			.offer-list {
				transition: all linear .3s;
					
				.empty-result {
					color: $light-grey;
					padding: 25px 0;
				}

				.cell {
					position: relative;

					md-card {
						position: relative;
						cursor: pointer;
						border-radius: 4px;
						transition: all .3s ease;
						outline: 0;

						md-card-content {
							padding: 0;

							.badge {
								font: {
									size: .9em;
								}

								p {
									color: white;
								}
							}

							.badge-candidate {
								color: $light-grey;

								span {
									display: block;
								    height: 24px;
								    width: 24px;
								    border-radius: 35px;
								    color: white;
								    text-align: center;
								    background-color: $pink;
								    line-height: 24px;
									font: {
										weight: 600;
										size: .9em;
									}
									margin-right: 5px;
								}
							}

							p {
								color: $light-grey;
								margin: 0;
							}

							.card-avatar {
								padding: 15px;

								.avatar {
									background-color: rgba(30,30,30,.85);
									height: 34px;
									width: 34px;
									display: inline-block;
									margin-right: 10px;
									border-radius: 100%;
								}
							}

							.card-title-content {
								position: relative;

								.overlay {
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
									background-color: rgba(30,30,30,.85);
								}

								.card-title {
									position: relative;
									word-break: normal;

									h3 {
										color: white;
										font: {
											size: 2.2em;
										}
										margin: 40px 15px;
									}
								}
							}

							.card-content {
								padding: 15px;

								p {
									transition: all .2s ease;
									margin: 0;

									.material-icons {
										color: $light-grey;
									}
								}

								.card-date {
									text-align: center;
									h2 {
										color: $black;
										font: {
											size: 2.5em;
											weight: 400;
										}
										margin: 0 0 5px 0;
									}

									p {
										color: $pink;
										font: {
											weight: 600;
											size: 1.2em;
										}
										margin-top: -13px;
									}
								}

								.card-place {
									padding-left: 30px;
								}
							}		
						}

						md-card-actions {
							background-color: rgb(245,250,250);
							margin: 0;
							padding: 15px;

							.md-button {
								color: $light-grey;
							}
						}
					}
				}

				.more-info {
					padding: 30px 0;

					.md-button {
						margin: 20px 0;
						padding: 0 50px;
					}
				}
			}
		}
	}

	&.offer-detail-dialog {
		.offer-detail-description {
			
			p {
				margin-top: 0;
				color: $black;
			}

			h4 {
				color: $light-grey;
				font: {
					size: .9em;
					weight: 400;
				}
				text-transform: uppercase;
			}

			h5 {
				color: $pink;
				margin: 0;
				font: {
					size: 1em;
					weight: 400;
				}
				margin-bottom: 10px;
			}
		}

		.offer-detail-candidate {
			p {
				margin: 0;
				color: $light-grey;
			}

			.candidate-card {
				cursor: pointer;
				margin-bottom: 40px;

				.avatar {
					height: 72px;
					width: 72px;
					display: block;
					border-radius: 100%;
					margin-right: 20px;
					position: relative;

					span {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						border-radius: 100%;
						background-color: rgba(253,59,109,.7);

						&.view-candidate {
							opacity: 0;
							transition: all .3s ease;
							text-align: center;
							line-height: 66px;

							&:after {
								display: none;
							}
						}

						&:after {
						    box-sizing: border-box;
						    transform: rotate(45deg);
						    position: absolute;
						    left: 30.66667px;
						    top: 18.22222px;
						    display: table;
						    width: 13.66667px;
						    height: 27.33333px;
						    border-width: 3px;
						    border-style: solid;
						    border-top: 0;
						    border-left: 0;
						    content: '';
						    border-color: white;
						}
					}
				}

				h4 {
					font: {
						weight: 600;
						size: 1.2em;
					}
					color: $black;
					text-transform: initial;
					margin: 0;
				}

				.new-container {
					margin-left: 10px;
					
					p {
						color: $pink;
						font: {
							weight: 600;
						}
					}
				}
			}
		}

		.offer-detail-checkout {
			h2 {
				font: {
					weight: 600;
					size: 1.5em;
				}
				margin: 0 0 20px 0;
				color: $black;
			}

			h4 {
				color: $light-grey;
				font: {
					size: .9em;
					weight: 400;
				}
				margin: 0 0 10px 0;
				text-transform: uppercase;
			}
		}
	}
}

.panel {
  	background: white;
  	width: 100%;
  	height: 100%;
  	box-shadow: 0px -6.29px 11.85px rgba(0, 0, 0, 0.05);

  	.panel-inner {
  		height: 100%;

  		md-toolbar {
  			box-shadow: 0px 6.29px 11.85px rgba(0, 0, 0, 0.05);

  			&.md-toolbar-filter {
			    z-index: 1;
			    color: rgba(0,0,0,0.87);

			    .md-toolbar-filter-scrollbable {
			    	overflow-x: scroll;

			    	md-select {
				    	margin: 0;

				    	md-select-value {
				    		border: none;
	    					font-size: .8em;
	    					margin-right: 15px;
				    	}
				    }
			    }
  			}

  			.candidate-selected {
				position: relative;
				border-radius: 100%;
				display: block;
				background-color: $pink;
				height: 28px;
		 		width: 28px;

				&:after {
				    box-sizing: border-box;
				    transform: rotate(45deg);
				    position: absolute;
				    left: 10px;
					top: 5px;
				    display: table;
			        width: 8px;
					height: 15px;
				    border-width: 3px;
				    border-style: solid;
				    border-top: 0;
				    border-left: 0;
				    content: '';
				    border-color: white;
				}
			}

  			.toolbar-search {
  				width: 0;
  				padding: 5px 0;
			    background: rgba(200,200,200,.2);
			    border-radius: 4px;
			    transition: all .3s ease;

			    &.active {
			    	width: 30%;
			    	padding: 5px 15px;
			    }

  				input {
  					border: none;
  					font: {
  						size: .8em;
  					}
  				}

  				.md-errors-spacer {
  					display: none;
  				}
  			}

  			span {
  				h2 {
  					color: rgba(0,0,0,0.87);
  					white-space: nowrap;
  					text-overflow: ellipsis;
					overflow: hidden;
					font: {
						weight: 400;
					}
					max-width: 350px;

					@media screen and(max-width: 600px) {
						width: 250px;
					}
				}
  			}

  			button {
  				md-icon {
  					color: rgba(0,0,0,0.87);
  				}
  			}

  			.material-icons {
  				color: rgba(0,0,0,0.87);
  			}
  		}

  		.layout-board {
  			background-color: #F6F9FC;

			.layout-board-header {
				color: white;
				padding: 100px 0;
				position: relative;

				.overlay {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: linear-gradient(45deg, rgba(252,60,163,.9) 0%, rgba(253,59,107,.9) 100%);

				}

				.layout-board-header-inner {
					position: relative;
					max-width: 950px;
					margin: 0 auto;

					@media only screen and(max-width: 600px) {
						padding: 15px;
					} 

					@media only screen and(max-width: 960px) {
						padding: 15px;
					} 

					.offer-id {
						font: {
							size: 1em;
							weight: 600;
						}
						opacity: .7;
					}

					h1 {
						font: {
							weight: 100;
							size: 2.5em;
						}
						margin: 0;
					}

					.avatar {
						width: 72px;
						height: 72px;
						display: inline-table;
						border-radius: 100%;
						margin-right: 20px;
					}

					ul {
						margin: 0;
					}

					p {
						margin: 5px 0 0 0;
						opacity: .7;
						font: {
							weight: 600;
							size: .9em;
						}
					}

					.stats {
						color: white;
						font: {
							size: 1em;
							weight: 600;
						}
						margin: 30px 20px 5px 0;

						span {
							color: white;
							font: {
								weight: 600;
							}
							height: 25px;
							min-width: 25px;
							text-align: center;
							line-height: 25px;
							border-radius: 40px;
							display: inline-block;
							background-color: white;
							color: $pink;
							padding: 0 5px;
							margin-right: 5px;
						}
					}
				}
			}

			.layout-board-main {
				position: relative;
				margin-bottom: 15px;

				&:last-child {
					margin-bottom: 50px;
				}

				&.next {
					.layout-board-main-inner {
						margin: 0 auto;
					}
				}

				.layout-board-main-inner {
					background: white;
					box-shadow: 0px 6.29px 11.85px rgba(0, 0, 0, 0.1);
					max-width: 950px;
					margin: -80px auto 0 auto;
					padding: 15px;
					border-radius: 4px;

					&.fullwidth {
						max-width: 100%;
						margin: 0;
						box-shadow: none;
						background-color: transparent;
					}

					.layout-board-section {
						.layout-board-section-title {
							color: $pink;
							font: {
								size: .9em;
								weight: 600;
							}
							text-transform: uppercase;
							margin: 0;

						}
					}

					.layout-board-card-container {
						p {
							color: rgba(0,0,0,0.5)!important;
						}
					}

					.layout-board-main-grid {
						column-count: 3;
						column-gap: 5px;
						column-fill: auto;

						.layout-board-main-grid-cell {
							padding: 10px;
							column-break-inside: avoid;
							-webkit-column-break-inside: avoid;
							page-break-inside: avoid;
							-moz-column-break-inside: avoid;
						}
					}

					.layout-board-list {
						.layout-board-list-item {
							background-color: white;
							box-shadow: 0px 6.29px 11.85px rgba(0, 0, 0, 0.1);
							border-radius: 4px;
							outline: 0;
							color: #8D8D8D;
							border-left: 8px solid white;
							transition: all .3s ease;
							margin-bottom: 10px;
							font: {
								weight: 600;
								size: .9em;
							}
							cursor: pointer;

							&:hover {
								box-shadow: 0px 6.29px 11.85px rgba(0, 0, 0, 0.15);
								border-left: 8px solid $pink;
							}

							.md-button.md-no-style {
								padding: 10px;
							}

							.candidate-avatar {
								width: 48px;
								height: 48px;
								margin-right: 20px;
								flex: none;
								display: block;

								&:hover {
									transform: translate3d(0,0,0);
								}
							}

							p {
								font: {
									weight: 600;
								}

								&.title {
									color: rgba(0,0,0,0.87);
									font: {
										size: 1.1em;
									}
								}
							}
						}
					}

					.layout-board-main-cell {
						margin-bottom: 20px;

						&.full {
							width: 100%;
						}


						@media only screen and(max-width: 600px) {
							margin-bottom: 10px;
						} 

						h3 {
							font: {
								weight: 600;
							}
							padding: 0 15px 0 15px;

							&.layout-board-title {
								font: {
									size: 1em;
								}
								padding: 0;
							}
						}

						ul {
							margin: 0;
						}

						p {
							margin: 0;
							color: #8D8D8D;
							font: {
								size: .95em;
								weight: 600;
							}
						}

						button {
							font: {
								weight: 600;
							}
						}

						.layout-board-description {
							color: #8D8D8D;

							h1, h2, h3, h4, h5, h6 {
								font: {
									size: 1em;
								}
								margin: 0;
								padding: 0;
							}
						}
					}

					.layout-board-card-container {
						display: flex;
						flex-wrap: nowrap;
						overflow: auto;
						-webkit-overflow-scrolling: touch;
						-ms-overflow-style: -ms-autohiding-scrollbar;
						padding: 15px;

						&.no-padding {
							padding: 15px 0;
						}

						.layout-board-card-container-scrollable {
							display: flex;
							flex-wrap: nowrap;

							.layout-board-card {
								flex: 0 0 auto;
								margin-right: 8px;
							}
						}
					}

					.candidate-avatar {
						height: 80px;
						width: 80px;
						display: table;
						background: $black;
						border-radius: 100%;
						box-shadow: 0px 6.29px 11.85px rgba(0, 0, 0, 0.1);
						margin-right: 35px;
						transition: all .3s ease;
						cursor: pointer;
						transform: translate3d(0,0,0);
						position: relative;
						outline: 0;

						.candidate-avatar-overlay {
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							transition: all .3s ease;
							background: linear-gradient(45deg, rgba(252,60,163,.9) 0%, rgba(253,59,107,.9) 100%);
							opacity: 0;
							border-radius: 100%;
							display: flex;
							justify-content: center;
							align-items: center;

							.material-icons {
								color: white;
							}
						}

						.candidate-avatar-selected {
							position: absolute;
							top: 0;
							left: 0;
							border-radius: 100%;
							background-color: $pink;
							height: 28px;
   				 			width: 28px;

							&:after {
							    box-sizing: border-box;
							    transform: rotate(45deg);
							    position: absolute;
							    left: 10px;
    							top: 5px;
							    display: table;
						        width: 8px;
    							height: 15px;
							    border-width: 3px;
							    border-style: solid;
							    border-top: 0;
							    border-left: 0;
							    content: '';
							    border-color: white;
							}
						}

						.notification-circle {
							height: 18px;
							width: 18px;
							background-color: $pink;
							border-radius: 100%;
							top: 0;
							left: 0;
						}

						&:hover {
							box-shadow: 0px 6.29px 11.85px rgba(0, 0, 0, 0.15);
							transform: translate3d(0,-5px,0);

							.candidate-avatar-overlay {
								opacity: 1;
							}
						}
					}

					.layout-board-card {
						padding: 25px;
						box-shadow: 0px 6.29px 11.85px rgba(0, 0, 0, 0.1);
						transition: all .3s ease;
						cursor: pointer;
						border-radius: 4px;
						transform: translate3d(0,0,0);
						border-left: 8px solid white;
						background-color: white;
						outline: 0;

						&:hover {
							box-shadow: 0px 6.29px 11.85px rgba(0, 0, 0, 0.15);
							transform: translate3d(0,-5px,0);
							border-left: 8px solid $pink;
						}

						.layout-board-card-header {
							.layout-board-card-badge {
								padding: 5px 15px;
								color: white;
								border-radius: 3px;
								font: {
									size: .8em;
									weight: bold;
								}
								margin-right: 10px;
								text-transform: uppercase;

								&.green {
									background-color: $green;
								}

								&.pink {
									background-color: $pink;
								}

								&.grey {
									background-color: $extra-light-grey;
								}
							}
						}

						.layout-board-card-body {
							h3 {
								margin: 20px 0 0 0;
								padding: 0;
								font: {
									weight: 400;
								}
								white-space: nowrap;
			  					text-overflow: ellipsis;
								overflow: hidden;
								max-width: 200px;
							}

							span {
								opacity: .4;
								margin: 5px 0 20px 0;
								font: {
									size: .9em;
								}
							}

							p {
								margin: 0;
							}

							.layout-board-card-date {
								color: $pink;
								margin-top: 20px;
								font: {
									weight: 600;
								}
							}
						}
					}
				}
			}
		}
  	}
}

md-tooltip {
	&.layout-board-tooltip {
		font: {
			size: .9em;
			weight: 600;
		}

		.md-content {
			padding: 5px 10px;
		    height: auto;
		    background: linear-gradient(45deg, rgba(252,60,163,1) 0%, rgba(253,59,107,1) 100%);
		}
	}
}
