<div layout="column" class="search-bar">
	<md-whiteframe class="md-whiteframe-1dp" layout="row" layout-align="start center">
		<md-input-container class="md-block" flex-gt-sm="50" flex-xs="100" md-no-float>
			<md-icon class="material-icons pointer" md-font-set="material-icons">search</md-icon>
		    <input ng-model="searchAgency" ng-model-options="{debounce: 500}" type="text" placeholder="Rechercher des agences">
		    <md-icon class="material-icons pointer cancel-search" md-font-set="material-icons" ng-show="searchCandidate"  ng-click="searchAgency.$rollbackViewValue(); searchAgency = ''">cancel</md-icon>
		</md-input-container>
		<span flex></span>
	</md-whiteframe>
</div>
<div layout="column" class="list" layout-margin>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="result.length > 0 && $ctrl.parent.agenciesReference.$resolved && $ctrl.agencies.length > 0">
		<p>Vous avez {{filtered.length}} agences qui correspondent à votre recherche</p>
	</div>

	<md-whiteframe class="md-whiteframe-1dp candidate-card" layout="row" layout-padding ng-show="$ctrl.parent.agenciesReference.$resolved" layout-align="start center" ng-repeat="agency in (filtered = ($ctrl.agencies | filter:searchAgency)) | orderBy: '-registerDate' | limitTo: $ctrl.limit as result track by $index">
		<div flex="20">
			<p>{{agency.registerDate | date:'dd/MM/yyyy HH:mm:ss' : 'UTC'}}</p>
		</div>
		<div flex="20" layout-align="center center">
			<h3>{{agency.name}}</h3>
			<p>{{agency.contactName}}</p>
		</div>
		<div flex="20">
			<p>{{agency.mail}}</p>
			<p>{{agency.phone}}</p>
		</div>
		<div flex="20">
			<p>{{agency.city}}</p>
		</div>
		<div flex="5" class="badge" layout="row">
            <span class="md-caption" ng-if="agency.notifications && agency.notifications.global > 0">{{agency.notifications.global}}</span>
        </div>
		<div flex="10" layout="column" layout-align="center end">
			<md-switch ng-model="agency.validate" ng-change="$ctrl.parent.toggleValid(agency.$id)" aria-label="Valider l'agence"></md-switch>
		</div>
		<div flex="5" layout="column" layout-align="center end">
			<md-menu md-position-mode="target-right target">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <i class="material-icons">more_vert</i>
                </md-button>
                <md-menu-content width="4">
                	<md-menu-item>
                        <md-button ng-click="$ctrl.parent.viewPromoterProfile(agency)">
                            <div layout="row" flex>
                                <p flex>Voir les détails</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.parent.changeRole(agency.$id)">
                            <div layout="row" flex>
                                <p flex>Changer de rôle</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <!-- <md-menu-item>
                        <md-button ng-click="$ctrl.parent.togglePaymentType(agency.$id)">
                            <div layout="row" flex>
                                <p flex>Changer le mode de paiement</p>
                            </div>
                        </md-button>
                    </md-menu-item> -->
                    <md-menu-item>
                        <md-button ng-href="mailto:{{agency.mail}}">
                            <div layout="row" flex>
                                <p flex>Envoyer un email</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-href="tel:{{agency.phone}}">
                            <div layout="row" flex>
                                <p flex>Contacter par téléphone</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.parent.disableAccount(agency.$id)" aria-label="disable account">
                            <div layout="row" flex>
                                <p flex ng-if="!agency.disabled">Désactiver le compte</p>
                                <p flex ng-if="agency.disabled">Activer le compte</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.parent.deleteAccount(agency.$id)" aria-label="disable account">
                            <div layout="row" flex>
                                <p flex>Supprimer</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
		</div>
	</md-whiteframe>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="$ctrl.agencies.length <= 0 && $ctrl.parent.agenciesReference.$resolved">
		<p>Vous n’avez pas encore d'agence</p>
	</div>
	<div flex="100" layout="column" layout-align="center center" class="empty-result" ng-if="result.length === 0 && $ctrl.parent.agenciesReference.$resolved && $ctrl.agencies.length > 0">
		<p>Aucun résultat trouvé</p>
	</div>
	<div flex="100" layout="row" layout-align="center center" class="empty-result" ng-if="!$ctrl.parent.agenciesReference.$resolved">
		<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="30"></md-progress-circular>
	</div>
	<div layout="column" flex="100" class="more-info">
		<div layout="row" layout-align="center center" ng-if="!$ctrl.end && result.length > 0 && $ctrl.parent.agenciesReference.$resolved">
			<md-button ng-click="$ctrl.getMore()" class="md-raised md-accent">Plus d'agence</md-button>
		</div>
	</div>
</div>
